<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Change Password</title>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <style>
        form {
            -webkit-box-shadow: 24px 35px 5px 0px rgba(151, 189, 209, 1);
            -moz-box-shadow: 24px 35px 5px 0px rgba(151, 189, 209, 1);
            box-shadow: 24px 35px 5px 0px rgba(151, 189, 209, 1);
            padding: 5%;
            background: linear-gradient(rgba(151, 189, 209, 1), white);
            border-radius: 20px;
        }

        label {
            font-size: 1.5rem;
            font-weight: bolder;
        }
    </style>

</head>
<body>
{% include "navigationbar.html" %}
<div class="container">
    <form action="updatepassword" id="updatepassword" method="post">
        <h1 class="text-center p-sm-2"><u>Change Password</u></h1>
        {% csrf_token %}
        <div class="form-group">
            <label for="oldpassword">Enter Old password -></label>
            <input type="password" data-rule-required="true" class="form-control" name="oldpassword" id="oldpassword" placeholder="Old Password">

        </div>

        <div class="form-group">
            <label for="newpassword">Enter New Password -></label>
            <input type="password" id="newpassword" data-rule-required="true" class="form-control" name="newpassword"
                   placeholder="New Password">
        </div>

        <div class="form-group">
            <label for="">Confirm Password -></label>
            <input type="password" data-rule-equalto="#newpassword" id="cpass" class="form-control" name="Password"
                   placeholder="Confirm Password">
        </div>
        <div class="form-group text-center">
            <input type="submit" class="btn btn-success w-50 rounded-pill p-sm-2" value="Submit">
        </div>
    </form>

</div>
<script>
    $('#updatepassword').validate();
</script>
</body>
</html>