{% load static %}
<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'fontawesome-free-5.11.2-web/css/all.css' %}">
<link rel="stylesheet" href="{% static 'mycss/effectonfont.css' %}">
<link rel="stylesheet" href="{% static 'mycss/navigatio.css' %}">
<link rel="stylesheet" href="{% static 'mycss/index2.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'lightbox/dist/css/lightbox.css' %}">
<link href="https://fonts.googleapis.com/css?family=Great+Vibes&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'ui/jquery-ui.css' %}">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">