<div class="container-fluid">
    <div class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="navbar">
            <li>
                <a href="addadmin" class="navbar">Admin</a>
            </li><li>
                <a href="addbook" class="navbar">Book</a>
            </li><li>
                <a href="addcategory" class="navbar">Add Category</a>
            </li><li>
                <a href="contact" class="navbar">Contact</a>
            </li><li>
                <a href="" class="navbar">hello</a>
            </li><li>
                <a href="" class="navbar">hello</a>
            </li><li>
                <a href="" class="navbar">hello</a>
            </li><li>
                <a href="" class="navbar">hello</a>
            </li>
        </div>

    </div>
</div>