{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#</head>#}
{#<body>#}
{#<div class="modal" id="buybooks">#}
{#        <div class="modal-dialog">#}
{#            <div class="modal-content">#}
{#                <div class="modal-header">#}
{#                    <h1>Buy Books</h1>#}
{#                    <button class="btn close text-danger" type="button" data-dismiss="modal">x</button>#}
{#                </div>#}
{#                <div class="modal-body">#}
{#                    <form action="#" method="post" >#}
{#                        {% csrf_token %}#}
{#                           <div class="form-group">#}
{#                            <input type="hidden" class="form-control" id="pid" name="pid">#}
{#                        </div>#}
{#                        <div class="form-group">#}
{#                            <label for=""> enter price </label>#}
{#                            <input type="text" class="form-control" id="price" name="price">#}
{#                        </div>#}
{#                        <div class="form-group">#}
{#                            <label for=""> enter email </label>#}
{#                            <input type="email" class="form-control" id="email" name="email">#}
{#                        </div>#}
{##}
{#                        <div class="form-group">#}
{#                            <input type="button" class="btn btn-success" value="submit" onclick="Buy()">#}
{#                        </div>#}
{##}
{#                    </form>#}
{#                </div>#}
{#                <div class="modal-footer">#}
{#                    <button class="btn close" type="button" data-dismiss="modal">Close</button>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#</div>#}
{#{% include 'footer.html' %}#}
{#<script src="{% static 'myjs/book.js' %}"></script>#}
{##}
{##}
{##}
{##}
{##}
{##}
{#</body>#}
{#</html>#}