{% load static %}
{#<!-- footer -->#}
{#<footer class="footer py-md-5 pt-md-3 pb-sm-5">#}
{#    <div class="container">#}
{#        <div class="row p-sm-4 px-3 py-3">#}
{#            <div class="col-lg-4 footer-top mt-md-0 mt-sm-5">#}
{#                <h2>#}
{#                    <a class="navbar-brand" href="index">#}
{#                        Packing Kings#}
{#                    </a>#}
{#                </h2>#}
{#                <div class="fv3-contact mt-2">#}
{#                    <p>#}
{#                        <a href="">hundal.anmol96@gmail.com</a>#}
{#                    </p>#}
{#                </div>#}
{#                <div class="fv3-contact my-2">#}
{#                    <p>9592231891</p>#}
{#                </div>#}
{#                <div class="fv3-contact">#}
{#                    <p>Amritsar#}
{#                        <br> </p>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-lg-2  col-md-6 mt-lg-0 mt-4">#}
{#                <div class="footerv2-w3ls">#}
{#                    <h3 class="mb-3 w3f_title">Navigation</h3>#}
{#                    <hr>#}
{#                    <ul class="list-w3pvtits">#}
{#                        <li>#}
{#                            <a href="index">#}
{#                                Home#}
{#                            </a>#}
{#                        </li>#}
{#                        <li class="my-2">#}
{#                            <a href="about">#}
{#                                About Us#}
{#                            </a>#}
{#                        </li>#}
{#                        <li class="my-2">#}
{#                            <a href="services">#}
{#                               Services#}
{#                            </a>#}
{#                        </li>#}
{#                        {% comment %}<li class="mb-2">#}
{#                            <a href="single">#}
{#                                Blog#}
{#                            </a>#}
{#                        </li>{% endcomment %}#}
{#                        <li>#}
{#                            <a href="contact">#}
{#                                Contact Us#}
{#                            </a>#}
{#                        </li>#}
{#                    </ul>#}
{#                </div>#}
{#            </div>#}
{#            {% comment %}<div class="col-lg-2  col-md-6 mt-lg-0 mt-4">#}
{#                <div class="footerv2-w3ls">#}
{#                    <h3 class="mb-3 w3f_title">Links</h3>#}
{#                    <hr>#}
{#                    <ul class="list-w3pvtits">#}
{#                        <li>#}
{#                            <a href="about">#}
{#                                Our Mission#}
{#                            </a>#}
{#                        </li>#}
{#                        <li class="my-2">#}
{#                            <a href="single">#}
{#                                Latest posts#}
{#                            </a>#}
{#                        </li>#}
{#                        <li class="my-2">#}
{#                            <a href="portfolio">#}
{#                                Explore#}
{#                            </a>#}
{#                        </li>#}
{#                        <li class="mb-2">#}
{#                            <a href="contact">#}
{#                                Find us#}
{#                            </a>#}
{#                        </li>#}
{#                        <li>#}
{#                            <a href="/">#}
{#                                Privacy Policy#}
{#                            </a>#}
{#                        </li>#}
{#                    </ul>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-lg-2 col-md-6 mt-lg-0 mt-4">#}
{#                <div class="footerv2-w3ls">#}
{#                    <h3 class="mb-3 w3f_title">Links</h3>#}
{#                    <hr>#}
{#                    <ul class="list-w3pvtits">#}
{#                        <li>#}
{#                            <a href="single">#}
{#                                more#}
{#                            </a>#}
{#                        </li>#}
{#                        <li class="my-2">#}
{#                            <a href="portfolio">#}
{#                                our work#}
{#                            </a>#}
{#                        </li>#}
{#                        <li class="my-2">#}
{#                            <a href="about">#}
{#                                Explore#}
{#                            </a>#}
{#                        </li>#}
{#                        <li class="mb-2">#}
{#                            <a href="contact">#}
{#                                contact us#}
{#                            </a>#}
{#                        </li>#}
{#                        <li>#}
{#                            <a href="/">#}
{#                                references#}
{#                            </a>#}
{#                        </li>#}
{#                    </ul>#}
{#                </div>#}
{#            </div>{% endcomment %}#}
{#            {% comment %}<div class="col-lg-2  col-md-6 mt-lg-0 mt-4">#}
{#                <div class="footerv2-w3ls">#}
{#                    <h3 class="mb-3 w3f_title">Links</h3>#}
{#                    <hr>#}
{#                    <ul class="list-w3pvtits">#}
{#                        <li class="my-2">#}
{#                            <a href="portfolio">#}
{#                                Explore#}
{#                            </a>#}
{#                        </li>#}
{#                        <li>#}
{#                            <a href="about">#}
{#                                Our Mission#}
{#                            </a>#}
{#                        </li>#}
{#                        <li class="my-2">#}
{#                            <a href="single">#}
{#                                Latest posts#}
{#                            </a>#}
{#                        </li>#}
{##}
{#                        <li class="mb-2">#}
{#                            <a href="contact">#}
{#                                Find us#}
{#                            </a>#}
{#                        </li>#}
{#                        <li>#}
{#                            <a href="index">#}
{#                                Privacy Policy#}
{#                            </a>#}
{#                        </li>#}
{#                    </ul>#}
{#                </div>#}
{#            </div>{% endcomment %}#}
{#        </div>#}
{#    </div>#}
{#    <!-- //footer bottom -->#}
{#</footer>#}
{#<!-- //footer -->#}
{#<!-- copyright -->#}
{#<div class="cpy-right text-center bg-theme">#}
{#    <p class="text-wh">© 2019 Packing Kings. All rights reserved | Design by#}
{#        <a href=""> Anmolpreet Kaur.</a>#}
{#    </p>#}
{#</div>#}
{#<!-- //copyright -->#}
{#<!-- move top icon -->#}
{#<a href="#home" class="move-top text-center">#}
{#    <span class="fa fa-level-up" aria-hidden="true"></span>#}
{#</a>#}
{#<!-- //move top icon -->#}
{##}


{#--------------------------------------------------------------------------------------------------------#}
<footer class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-10">
                <div class="footer-content mt-30"><a href="/"><img
                        src="{% static 'website/images/logo-2.png' %}" alt=""></a>
                    <p>Lorem ipsum dolor sit amet, consect etuer adipiscing elit, sed diam nonu mmy nibh euismod
                        tincid </p>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="footer-list mt-30">
                    <h3 class="title">Services</h3>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="about">About Us</a></li>
                        <li><a href="service">Services</a></li>
                        <li><a href="contact">Contact Us</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer-list item-2 mt-30 pl-45">
                    <h3 class="title">Useful Links</h3>
                    <ul>
                        <li><a href="/">FAQ</a></li>
                        <li><a href="/">Gallery</a></li>
                        <li><a href="/">Service Details</a></li>
                        <li><a href="/">Error Page</a></li>
                        <li><a href="/">Our Team</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-instagram mt-30">
                    <h3 class="title">Instagram</h3>
                    <ul>
                        <li><a href="javascript:void(0)"><img src="{% static 'website/images/ins-1.jpg' %}" alt=""></a>
                        </li>
                        <li><a href="javascript:void(0)"><img src="{% static 'website/images/ins-1.jpg' %}" alt=""></a>
                        </li>
                        <li><a href="javascript:void(0)"><img src="{% static 'website/images/ins-1.jpg' %}" alt=""></a>
                        </li>
                    </ul>
                    <ul>
                        <li><a href="javascript:void(0)"><img src="{% static 'website/images/ins-1.jpg' %}" alt=""></a>
                        </li>
                        <li><a href="javascript:void(0)"><img src="{% static 'website/images/ins-1.jpg' %}" alt=""></a>
                        </li>
                        <li><a href="javascript:void(0)"><img src="{% static 'website/images/ins-1.jpg' %}" alt=""></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright footer-copyright-item">
        <div class="container">
            <div class="row">
                <div class="col-lg-6"></div>
                <div class="col-lg-6">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="about">About Us</a></li>
                        <li><a href="javascript:void(0)">Terms</a></li>
                        <li><a href="javascript:void(0)">Privacy</a></li>
                        <li><a href="javascript:void(0)">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</footer>
<!-- Footer Sec End -->
<!-- jQuery Min JS -->
<script src="{% static 'website/js/jquery-min.js' %}"></script>
<!-- Popper Min JS -->
<script src="{% static 'website/js/popper.min.js' %}"></script>
<!-- Bootstrap Min JS -->
<script src="{% static 'website/js/bootstrap.min.js' %}"></script>
<!-- Owl Carousel Min JS -->
<script src="{% static 'website/js/owl.carousel.min.js' %}"></script>
<!-- Plugins JS -->
<script src="{% static 'website/js/plugins.js' %}"></script>
<!-- slick JS -->
<script src="{% static 'website/js/slick.min.js' %}"></script>
<!-- Magnific Popup JS -->
<script src="{% static 'website/js/jquery.magnific-popup.min.js' %}"></script>
<!-- Isotope JS -->
<script src="{% static 'website/js/isotope.pkgd.min.js' %}"></script>
<!-- Fancybox JS -->
<script src="{% static 'website/js/jquery.fancybox.js' %}"></script>
<!-- Mean Menu JS -->
<script src="{% static 'website/js/jquery.meanmenu.js' %}"></script>
<!-- Custom JS -->
<script src="{% static 'website/js/custom.js' %}"></script>
<script src="{% static 'dist/jquery.validate.js' %}"></script>
<link rel="stylesheet" href="{% static 'UI/jquery-ui.css' %}">

<script src="{% static 'UI/jquery-ui.js' %}"></script>



