<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    {% include "headerfiles.html" %}
{#    <link href="https://fonts.googleapis.com/css?family=Ultra&display=swap" rel="stylesheet">#}
    <link rel="stylesheet" href="{% static "fontawesome-free-5.11.2-web/css/all.css" %}">
    {% include "headerfiles.html" %}
    <style>
        h3, label {
            color: #005ba4;
        }
    </style>
</head>
<body>
{% include "navigationadmin.html" %}
<br>
<div style="background: rgba(0,0,0,0.5)">
    <div class="text-center h3 text-white p-3"
         style="margin-top: 25px; font-family: 'Ultra',cursive;text-decoration: underline red;background: rgba(90,165,77,0.93)">
        BOOKINGS
    </div>
    <br>
    <div class="container">
        <div class="table-responsive">
            <table class="table table-light table-hover table-bordered">
                <tr class="bg-dark text-light">
                    <th>BOOKING ID</th>
                    <th>BOOKERNAME</th>
                    <th>MOBILE</th>
                    <th>EMAIL</th>
                    <th>STATUS</th>
                    <th colspan="3" class="text-center">Action</th>

                </tr>
                {% for row in ar %}
                    <tr>
                        <td>{{ row.bookingid }}</td>
                        <td>{{ row.bookername }}</td>
                        <td>{{ row.mobile }}</td>
                        <td>{{ row.email }}</td>
                        <td>{{ row.status }}</td>
                        <td><a href="viewbookingdetails?q={{ row.bookingid }}" class="btn btn-success">View Details </a>
                        </td>
                        {% if row.dispatchstatus != "success" and row.status == 'accepted' %}
                            <td>
                                <a href="dispatch?mobile={{ row.mobile }}&email={{ row.email }}&bookingid={{ row.bookingid }}"
                                   class="btn btn-success">Dispatch</a></td>
                        {% endif %}
                        {% if row.status == 'accepted' and row.emailstatus != 'success' and row.dispatchstatus == 'success' %}
                            <td>
                                <a href="sendratingmsgandemail?mobile={{ row.mobile }}&email={{ row.email }}&bookingid={{ row.bookingid }}"
                                   class="btn btn-success">Send Request</a></td>
                        {% endif %}

                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
</body>
</html>