{% load static %}
<div style="padding: 6% 6% 4%;width: 100%;background: linear-gradient(45deg,red,orange,transparent)"><span class="display-3 font-weight-bold text-white m-5" style="margin-top: 3% !important;
    display: inline-block;">Book Reader</span>

<img
        src="{% static 'stephen-andrews-u0zTce7KNlY-unsplash.jpg' %}" class="img-fluid float-right" alt="" style="width: 18%;box-shadow: 1px 3px 37px black"></div>
<div class="text-white p-3" style="background: black"><marquee direction = "left" behavior="scroll" hspace="200px">“A reader lives a thousand lives before he dies.” <i>– George R.R. Martin</i> | “I shall be miserable if I have not an excellent library.” <i>– Jane Austen in Pride and Prejudice</i> | “When I have a little money, I buy books; and if I have any left, I buy food and clothes.” <i>– Erasmus</i></marquee></div>