<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Activity Log</title>
    {% load static %}
    <style>
        body {
            background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url("{% static 'images/victor-freitas-WvDYdXDzkhs-unsplash.jpg' %}") fixed no-repeat center/cover;
            color: white;
        }</style>

    {% include 'userheaderfile.html' %}
    <style>
        .error {
            color: red !important;
        }
    </style>
    <link rel="stylesheet" href="{% static 'ui/jquery-ui.css' %}">
</head>
<body>
{% include 'userNavbar.html' %}
<br>
<br>
<br>
<div class="container">
    <hr style="background: white">
    <div class="">
        <form action="ActivityLog" method="get">
            <div class="row">
                <div class="col-sm-6 offset-3">
                    <div class="row">
                        <div class="col-sm-6">
                            <input type="text" required id="datepicker" name="datepicker"
                                                     class="form-control"
                                                     readonly placeholder="yy/mm/dd">
                        </div>
                        <div class="col-sm-6">
                            <button type="submit" class="btn btn-primary">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <hr style="background: white">
</div>
<div class="container">
    <div class="text-center">
        <h1 class="text-white">Foods</h1>
    </div>
    <br>
    {% if Fdata %}
        <div class="text-white table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>date of Cons.</th>
                    <th>Time of Cons.</th>
                    <th>carbs</th>
                    <th>protein</th>
                    <th>fats</th>
                    <th>QTY</th>
                    <th>calorie</th>
                </tr>
                </thead>
                <tbody>
                {% for foo in Fdata %}
                    <tr>
                        <td>{{ foo.foodname }}</td>
                        <td>{{ foo.dateofConsumption }}</td>
                        <td>{{ foo.timeofConsumption }}</td>
                        <td>{{ foo.carbs }}</td>
                        <td>{{ foo.protein }}</td>
                        <td>{{ foo.fats }}</td>
                        <td>{{ foo.qty }}</td>
                        <td>{{ foo.calorie }}</td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><strong>Total Cal. ---></strong></td>
                    <td>{{ Ftotal }}</td>
                </tr>
                </tfoot>
            </table>
        </div>
        <hr style="background: white">

    {% else %}
        <div class="alert alert-danger">
            <strong>No Food Consumption</strong>
        </div>
        <hr style="background: white">

    {% endif %}
    <br>
    <br>
    <br>
    <div class="text-center">
        <h1 class="text-white">Exercises</h1>
    </div>
    {% if Edata %}
        <div class="text-white table-responsive">
            <table class="table  table-hover">
                <thead>
                <tr>
                    <th>title</th>
                    <th>Dateofexcercise</th>
                    <th>caloriesburnt</th>
                </tr>
                </thead>
                <tbody>
                {% for foo1 in Edata %}
                    <tr>
                        <td>{{ foo1.title }}</td>
                        <td>{{ foo1.Dateofexcercise }}</td>
                        <td>{{ foo1.caloriesburnt }}</td>
                    </tr>
                {% endfor %}

                </tbody>
                <tfoot>
                <tr>
                    <td></td>
                    <td class="text-right"><strong>Total Cal. -----></strong></td>
                    <td><strong>{{ Etotal }}</strong></td>
                </tr>
                </tfoot>
            </table>
        </div>
    {% else %}
        <div class="alert alert-danger">
            <strong>No Exercise</strong>
        </div>
        <hr style="background: white">
        <br>
    {% endif %}
</div>


{% include 'userfoot.html' %}
{% include 'userfooter.html' %}
{% include 'footer.html' %}

<script>
    $(function () {
        $("#datepicker").datepicker(
            {#{ dateFormat: 'dd-mm-yy' }#}
            {dateFormat: 'yy-mm-dd'}
        );
    });
</script>
</body>
</html>