
/*banner*/
.banner {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-40%, -40%);
    /*width: 80%;*/
}

.banner-heading {
    animation-name: anim;
    animation-duration: 2s;
}

.banner-par {
    animation-name: anim;
    animation-duration: 2s;
    animation-delay: .5s;
    animation-fill-mode: backwards;
}

@keyframes anim {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/*end of banner*/