<!DOCTYPE html>
<html lang="en">
<head>
    {% load static  %}
    <meta charset="UTF-8">
    <title>Admin Login</title>
    {% include "headerfiles.html" %}
    <script src="{% static 'myjs/addadmin.js' %}"></script>

    <script>

        $(document).ready(function () {
            $("#form1").validate();
        })

    </script>
    <style>
        header {
            height: 100vh;
            background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .5)), url("{% static 'images/backgroundnew.jpg' %}") no-repeat center center/cover;
        }
    </style>
</head>
<body>
{% include "indexheader.html" %}
{#{% include "navbarAdmin.html" %}#}

<header>
    <div class="container" style="margin-top: 100px">
        {% csrf_token %}
        {% include 'indexheader.html' %}
        <div class="row">
            <div class="col-sm-5 offset-sm-4">
                <form action="checkadminlogin" id="form1">
                    <div class="text-center">
                        <h1 class="text-black-50"><u>Administrator Login</u></h1>
                    </div>
                    <div class="form-group">
                        <i class="fa fa-envelope text-black-50 fa-2x">Email</i>

                        <input type="email" data-rule-required="true" class="form-control" id="email"
                               name="email" placeholder="Email">
                    </div>
                    <div class="mt-4">
                        <i class="fa fa-lock text-black-50 fa-2x">Password</i>
                        <input type="password" data-rule-required="true" class="form-control" id="password"
                               name="password"
                               placeholder="Password">
                    </div>
                    <div class="text-center">
                        <span class="alert-danger" id="result"></span>
                    </div>

                    <div class="form-group mt-2 row">
                        <div class="form-group mt-2 text-center">
                            <button type="button" onclick="adminlogin()" class="btn btn-outline-dark">
                                <strong>Login</strong></button>
                        </div>
                        <div class="col-sm-8  text-right mt-3">
                            <span class="text-black-50" style="cursor: pointer" onclick="adminforgotpassword()">Forgot Password?</span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</header>
{{ ar.message }}


{#start of sp modal popup#}
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="text-align: center;font-family: 'cursive'"><u>Forgot Password</u></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <form action="" id="forgot">
                    <div class="form-group">
                        Enter Mobile Number:
                        <input type="number" maxlength="10" minlength="10" data-rule-required="true" name="mobile" id="smsmobile" class="form-control">
                    </div>

                    <div class="form-group row">
                        <button type="button" class="btn btn-primary" onclick="adminforgotsms()">Send SMS</button>
                        <span id="check"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{#end of sp modal popup#}




{% include 'footer.html' %}

</body>
</html>