<!doctype html>
<html lang="en">
<head>
    {% load static  %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% include 'headerfiles.html' %}
    {% include 'indexheader.html' %}
    <title>Get Serivce Provider</title>
</head>
<body>
{#{{ ar }}#}
<div class="container">
    <div class="text-center">
        <h1><u>Services</u></h1>
    </div>
</div>
<div class="container">
    <div class="row">
        {% for foo in ar %}

            <div class="col-sm-4">
                <div class="card mt-5" style="width: 18rem;">
                    <div class="text-center mt-3">
                        <img src="{% static 'media/' %}{{ foo.photo }}" alt="" width="200" height="200"><br>
                        <span class=""><strong>{{ foo.name }}</strong></span><br>
                        <span class=""><strong><u>{{ foo.email }}</u></strong></span><br>
                        <input type="hidden" value="{{ foo.business }}" name="business" id="business"><br>

                    </div>
                    <div class="card-body">
                        <h5 class="card-title " style="text-align: center">{{ foo.business }} </h5>
                        <a href="spdetails?email={{ foo.email }}" type="submit" class="btn btn-info mt-2">Show Details</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% include 'footer.html' %}
 <script src="{% static 'myjs/sampleserviceshow.js' %}"></script>
</body>
</html>