<!-- header -->
<style>
    .nav-menu {
    background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .5));
    padding: 30px;
    transition: all .5s;
}

</style>
    <div class="container">
        <div class="header d-lg-flex fixed-top align-items-center nav-menu">
            <div class="header-agile">
                <h1>
                    <a class="navbar-brand logo" href="/">
                       <strong>S</strong>erve<strong>M</strong>e<strong>G</strong>ood
                    </a>
                </h1>
            </div>
            <div class="nav_w3ls">
                <nav>
                    <label for="drop" class="toggle"><span class="fa fa-bars" aria-hidden="true"></span></label>
                    <input type="checkbox" id="drop"/>
                    <ul class="menu">
                        <li class="active"><a href="/">Home</a></li>
                        <li><a href="addadmin">Add Admin</a></li>
                        <li><a href="searchservice1">Services</a></li>
                        <li><a href="#">Booking<span class="fa fa-angle-down" aria-hidden="true"></span></a>
                        <input type="checkbox" id="drop-2"/>
                        <ul class="inner-ul">
                            <li><a class="scroll" href="viewbookingtoadmin?status=pending">Pending</a></li>
                            <li><a class="scroll" href="viewbookingtoadmin?status=accepted">Success</a></li>
                        </ul>
                    </li>
                        <li><a href="changeadminpassword">Change Password</a></li>
                        <li><a href="adminlogout" style="background-color: rgba(220,52,149,0.87)">Logout</a></li>

                    </ul>
                </nav>
            </div>
{#            <div class="buttons ml-auto">#}
{#                <ul class="form-w3pvt-grid">#}
{#                    <li><a href="#contact" class="user">#}
{#                        <span class="fa fa-user-o"></span>#}
{#                    </a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <form action="#" method="post" class="newsletter">#}
{#                            <input class="search" type="search" placeholder="" required="">#}
{#                            <button class="form-control btn" value=""><span class="fa fa-search"></span>#}
{#                            </button>#}
{#                            <div class="clearfix"></div>#}
{#                        </form>#}
{#                    </li>#}
{##}
{#                </ul>#}
{##}
{#            </div>#}
        </div>
    </div>
<!-- //header -->