<!-- header -->
<style>
    .nav-menu {
    background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .5));
    padding: 30px;
    transition: all .5s;
}

</style>
    <div class="container">
        <div class="header d-lg-flex fixed-top align-items-center nav-menu">
            <div class="header-agile">
                <h1>
                    <a class="navbar-brand logo" href="/">
{#                        <strong>T</strong>hink & <strong>Pick</strong>#}
                        <strong>S</strong>erve<strong>M</strong>e<strong>G</strong>ood
                    </a>
                </h1>
            </div>
            <div class="nav_w3ls">
                <nav>
                    <label for="drop" class="toggle"><span class="fa fa-bars" aria-hidden="true"></span></label>
                    <input type="checkbox" id="drop"/>
                    <ul class="menu">
                        <li class="active"><a href="/">Home</a></li>
                        <li><a href="contact">Contact</a></li>
                        <li><a href="searchservice1">Services</a></li>
                        <li><a href="userbookings">My Bookings</a></li>
                        <li><a href="userlogout" style="background-color: rgba(220,52,149,0.87)">logout</a></li>

                    </ul>
                </nav>
            </div>
        </div>
    </div>
<!-- //header -->