<!DOCTYPE html>
<html lang="en">
<head>
    {% load static  %}
    <meta charset="UTF-8">
    <title>View Admin</title>
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'fontawesome-free-5.11.2-web/css/all.css' %}">
        {% include "jsfiles.html" %}

</head>

<body>
{% include 'navigationbarAdmin.html' %}
    <div class="container">

    <table class="table">
        {% for p in ar %}
            <tr>
                <td>{{ p.email }}</td>
                <td>{{ p.password }}</td>
                <td>{{ p.mobile }}</td>
                <td>{{ p.type }}</td>
                <td>
                    <a href="removeadmin?email={{ p.email }}">
                        <i class="fa fa-trash text-danger fa-2x"></i>
                    </a>
                </td>
                <td>
                    <a href="editadmin?email={{ p.email }}">
                        <i class="fa fa-edit text-warning fa-2x"></i>

                    </a>
                </td>

            </tr>
        {% endfor %}
    </table>
</div>

</body>

</html>