<!DOCTYPE html>
<html lang="en">
<head>
    {% load  staticfiles %}
    {% include "navigationbar.html" %}
    <meta charset="UTF-8">
    <title>Change Password</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
<div class="container">


    <form action="updateuserpassword" method="post">
                {% csrf_token %}
        <div class="form-group">
            <label for="">Enter old passwordl</label>
            <input type=Password  required class="form-control" name="oldpassword">

        </div>

        <div class="form-group">
              <label for="">Enter newPassword</label>
            <input type=Password id=""newpassword required  class="form-control" name="newpassword">
        </div>

           <div class="form-group">
              <label for="">confirm Password</label>
            <input type=Password data-rule-equalto="#newpassword" required  class="form-control" name="Password">
           </div>
               <div class="form-group">

            <input type="submit" class="btn btn-success" value="submit">
        </div>
        {{ ar.message }}
    </form>

</div>

</body>
</html>