<!DOCTYPE html>
<html lang="en">
<head>
    {% load  staticfiles %}
    {% include "navigationbar.html" %}
    <meta charset="UTF-8">
    <title>Change Password</title>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <style>
        form {
            -webkit-box-shadow: 24px 35px 5px 0px rgba(151, 189, 209, 1);
            -moz-box-shadow: 24px 35px 5px 0px rgba(151, 189, 209, 1);
            box-shadow: 24px 35px 5px 0px rgba(151, 189, 209, 1);
            padding: 5%;
            background: linear-gradient(rgba(151, 189, 209, 1),white);
            border-radius: 20px;
        }
        label{
            font-size: 1.5rem;
            font-weight: bolder;
        }
    </style>

</head>
<body>
<div class="container">
    <form action="updatepassword" method="post">
        <h1 class="text-center p-sm-2"><u>Change Password</u></h1>
        {% csrf_token %}
        <div class="form-group">
            <label for="">Enter Old password -></label>
            <input type=Password required class="form-control" name="oldpassword" placeholder="Old Password">

        </div>

        <div class="form-group">
            <label for="">Enter New Password -></label>
            <input type=Password id="" newpassword required class="form-control" name="newpassword" placeholder="New Password">
        </div>

        <div class="form-group">
            <label for="">Confirm Password -></label>
            <input type=Password data-rule-equalto="#newpassword" required class="form-control" name="Password" placeholder="Confirm Password">
        </div>
        <div class="form-group text-center">
            <input type="submit" class="btn btn-success w-50 rounded-pill p-sm-2" value="Submit">
        </div>
    </form>

</div>

</body>
</html>