<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

</head>
<body class="container">
<div class="jumbotron">
    <form action="sampleInsert" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="bidl">Book ID</label>
            <input type="text" readonly id="bid" name="bid" class="form-control" value="{{ ans}}">
        </div>
        <div class="form-group">
            <label for="des">Description</label>
            <textarea name="desc"  id="des"  class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label for="photo">Photo</label>
            <div class="custom-file">
                <label for="photo" class="custom-file-label">Photo</label>
                <input type="file" name="photo" id="photo" class="custom-file-input">
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Submit" class="w-25 float-right form-control btn btn-primary">
        </div>
    </form>
</div>
</body>
</html>