<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>PackingKings | About Us </title>
    <!-- Meta tag Keywords -->
    {% load staticfiles %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8"/>
    <meta name="keywords"
          content="Freight Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"/>
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //Meta tag Keywords -->

    <!-- Custom-Files -->
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
    <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css" media="all"/>
    <!-- Style-CSS -->
    <link href="{% static "css/font-awesome.min.css" %}" rel="stylesheet">
    <!-- Font-Awesome-Icons-CSS -->
    <!-- //Custom-Files -->

    <!-- Web-Fonts -->
    <link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    <!-- //Web-Fonts -->
</head>

<body>
<!-- header -->

{% if request.session.useremail %}
    {% include 'indexnabaruser.html' %}
{% elif not request.session.useremail %}
    {% include 'indexnavbarpublic.html' %}
{% endif %}
<!-- //header -->
<!-- inner banner -->
{#<div class="inner-banner-w3ls d-flex flex-column justify-content-center align-items-center">#}
{#</div>#}
<!-- //inner banner -->
<!-- breadcrumbs -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb d-flex justify-content-center">
        <li class="breadcrumb-item">
            <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">About Us</li>
    </ol>
</nav>
<!-- //breadcrumbs -->

<!-- about-->
<section class="single_grid_w3_main align-w3">
    <div class="container">
        <div class="row pt-lg-4">
            <div class="col-lg-5">
                <div class="wthree_pvt_title  mb-3">
                    <h4 class="w3pvt-title" style="color: darkcyan">about Packing Kings
                    </h4>
{#                    <span class="sub-title">add your caption here</span>#}
                </div>
                <div class="single_grid_text pt-lg-3">
{#                    <p>Subheadings stand out because they are like mini titles. They make your post stand out and#}
{#                        make it more readable.</p>#}
                    <p class="my-2">We are feeling proud in introducing ourselves as one of the leading and reliable Packers and Movers
                        company. We are confident to take up any challenging work and execute the same in efficient manner to the optimum
                        satisfaction of our clients. We pack your goods, load it on to a truck and get it transported to wherever you want,
                        further we unload and even unpack and arrange everything at your new place.

                    <p>So here’s a list of various services you can expect from our Company;
                       Disassembling Goods Like Furniture, Light Fittings, Dish Antenna, Equipment’s etc.
                       Packing Goods Using Best Quality Packing Materials Like Bubble Wraps, Foam, Carton and Plastic or Wood Boxes.
                       Labeling of Boxes After Packing and Preparing a Packing List.
                       Loading, Transporting, Unloading and Unpacking.
                       Arrange Everything at Your New Place.</p>
{#                    <a class="btn bg-theme mt-4 w3ls-btn d-inline-block" href="about">view more#}
{#                    </a>#}
                </div>
            </div>
            <div class="col-lg-7 mt-lg-0 mt-4">
                <div class="slide-img-2">
                    <img src="{% static "images/ab.jpg" %}" class="img-fluid" alt=""/>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //about -->

<!-- about-->
<section class="single_grid_w3_main align-w3">
    <div class="container">
        <div class="wthree_pvt_title text-center">
            <h4 class="w3pvt-title">Superior Services</h4>
            <p class="sub-title">Subheadings stand out because they are like mini titles. They make your post stand
                out and
                make it more readable.</p>
        </div>
        <div class="row">
{#            <div class="col-lg-4">#}
{#                <div class="abt-grid">#}
{#                    <div class="row">#}
{#                        <div class="col-3">#}
{#                            <div class="abt-icon">#}
{#                                <span class="fa fa-ravelry"></span>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="col-9">#}
{#                            <div class="abt-txt">#}
{#                                <h4>Pet Relocation</h4>#}
{#                                <p> We are professional pet moving company ready to move your pets. We relocate them in the same city or to any distant city or state.#}
{#                                    We understand the value of your pets. Hence we aim at giving them a friendly and comforting environment during moving.#}
{#                                     We also visit your place well before moving date and make your pets comfortable.The responsible person will befriend your pet and also make it comfortable with the cage..</p>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
            <div class="col-lg-4 my-lg-0 my-4">
                <div class="abt-grid">
                    <div class="row">
                        <div class="col-3">
                            <div class="abt-icon">
                                <span class="fa fa-pencil"></span>
                            </div>
                        </div>
                        <div class="col-9">
                            <div class="abt-txt">
                                <h4>Packing Unpacking</h4>
                                <p>We provide Affordable, reliable and cost effective packing and unpacking services.
                                    We have experienced team who know that how to pack your items and after moving how to unpack and
                                    rearrange your goods. Our team done whole process according to customer requirements.
                                    We use good quality materials for packing your items and they deliver them without any
                                    damages. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="abt-grid">
                    <div class="row">
                        <div class="col-3">
                            <div class="abt-icon">
                                <span class="fa fa-laptop"></span>
                            </div>
                        </div>
                        <div class="col-9">
                            <div class="abt-txt">
                                <h4>Loading Unloading</h4>
                                <p>We offer cost-effective & safe loading and unloading services for various shifting needs.
                                     Our professionals are expert in loading and unloading of goods. We provide quality material in packing and after that we load your items..
                                    We have suitable designed lorry and carrier to move the goods of the clients in safe and sound way to the new destination.
                                     Goods are arranged in such a way so that no damages or loss occurs while transporting .
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-lg-5 pt-4">
            <div class="col-lg-4">
                <div class="abt-grid">
                    <div class="row">
                        <div class="col-3">
                            <div class="abt-icon">
                                <span class="fa fa-clock-o"></span>
                            </div>
                        </div>
                        <div class="col-9">
                            <div class="abt-txt">
                                <h4>Car Transportation</h4>
                                <p>The vehicles to be transported is picked up from the client's location and delivered at the specified
                                    address. the company is entirly responsible of safety, loading, unloading etc.The cars are moved by
                                    car carriers as suitable for safety carriage. Expertise in handling car transportation services, cost
                                    effciency and safety are highlights of our transport services. We use special kind of protective,
                                    scratch resistance tapes to avoid scratches on cars.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 my-lg-0 my-4">
                <div class="abt-grid">
                    <div class="row">
                        <div class="col-3">
                            <div class="abt-icon">
                                <span class="fa fa-pencil"></span>
                            </div>
                        </div>
                        <div class="col-9">
                            <div class="abt-txt">
                                <h4>Office Shifting</h4>
                                <p> We help companies to shift their offices from one location to another location. Office relocation is
                                    time bound movement & it constitute of big expertise.We provide hassle free professional quality loading services at very cost effective price.
                                    Office packing services involve packing countless file cabinets, desks, chairs, all sensitive computer equipment, high-tech machinery and other
                                    innumerable office belongings .
                                    </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="abt-grid">
                    <div class="row">
                        <div class="col-3">
                            <div class="abt-icon">
                                <span class="fa fa-ravelry"></span>
                            </div>
                        </div>
                        <div class="col-9">
                            <div class="abt-txt">
                                <h4>Plant Relocation</h4>
                                <p>Plants and Trees relocation are just nice additions to the garden to make it look a heaven. So, it is a very tricky situation when you
                                    have to cut down your trees to move from one location to another location.For all these problems tree relocation services are available. Tree transplantation is helpful if you
                                    are not willing to cut down the tree. It allows helping the tree more lives to live to give us more
                                    benefits.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //about -->



<!-- team -->
<section class="w3layouts_hubits-services align-w3" id="team">
    <div class="container">
        <div class="wthree_pvt_title text-center">
            <h4 class="w3pvt-title">our experts
            </h4>
            <p class="sub-title">Subheadings stand out because they are like mini titles. They make your post stand
                out and
                make it more readable.</p>
        </div>
        <div class="row py-4 mt-lg-5  team-grid">
            <div class="col-md-4 col-sm-6">
                <div class="box13">
                    <img src="{% static "images/t1.jpg" %}" class="img-fluid" alt=""/>
                    <div class="box-content">
                        <h3 class="title">Williamson</h3>
                        <span class="post">role in detail</span>
                        <ul class="social">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="box13">
                    <img src="{% static "images/t2.jpg" %}" class="img-fluid" alt=""/>
                    <div class="box-content">
                        <h3 class="title">Kristiana</h3>
                        <span class="post">role in detail</span>
                        <ul class="social">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mx-auto">
                <div class="box13">
                    <img src="{% static "images/t3.jpg" %}" class="img-fluid" alt=""/>
                    <div class="box-content">
                        <h3 class="title">Micheal</h3>
                        <span class="post">role in detail</span>
                        <ul class="social">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- //team -->

<!--  slide -->
{% comment %}<section class="wthree-slie-btm py-lg-5" id="more">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="slide-banner pl-0">
                </div>
            </div>
            <div class="col-lg-6 mt-lg-0 mt-4">
                <div class="container">
                    <div class="wthree_pvt_title">
                        <h4 class="w3pvt-title">Industry Solutions
                        </h4>
                        <span class="sub-title">add your caption here</span>
                    </div>
                    <div class="row flex-column">
                        <div class="abt-grid">
                            <div class="row">
                                <div class="col-3">
                                    <div class="abt-icon">
                                        <span class="fa fa-fighter-jet"></span>
                                    </div>
                                </div>
                                <div class="col-9">
                                    <div class="abt-txt ml-0">
                                        <h4>sanctus takimata </h4>
                                        <p>Lo sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="abt-grid mt-4 pt-lg-2">
                            <div class="row">
                                <div class="col-3">
                                    <div class="abt-icon">
                                        <span class="fa fa-truck"></span>
                                    </div>
                                </div>
                                <div class="col-9">
                                    <div class="abt-txt ml-0">
                                        <h4>takimata sanctus</h4>
                                        <p>Lo sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-start">
                        <a href="about" class="btn w3ls-btn">view more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>{% endcomment %}
<!-- //slide -->

<!-- testimonials -->
<div class="testimonials align-w3" id="testi">
    <div class="container">
        <div class="wthree_pvt_title text-center">
            <h4 class="w3pvt-title">testimonials
            </h4>
            <p class="sub-title">Subheadings stand out because they are like mini titles. They make your post stand
                out and
                make it more readable.</p>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="testimonials_grid">
                    <div class="testi-text text-center">
                        <p><span class="fa fa-quote-left"></span>Stet clita kasd gubergren, no sea
                            takimata sanctus est Lorem ipsum dolor sit amet<span class="fa fa-quote-right"></span>
                        </p>
                    </div>
                    <div class="d-flex align-items-center justify-content-center">
                        <div class="testi-desc">
                            <span class="fa fa-user"></span>
                            <h5>Aliquyam</h5>
                            <p>Member</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="testimonials_grid mt-lg-0 mt-4">
                    <div class="testi-text text-center">
                        <p><span class="fa fa-quote-left"></span>Stet clita kasd gubergren, no sea
                            takimata sanctus est Lorem ipsum dolor sit amet<span class="fa fa-quote-right"></span>
                        </p>
                    </div>
                    <div class="d-flex align-items-center justify-content-center">
                        <div class="testi-desc">
                            <span class="fa fa-user"></span>
                            <h5>Aliquyam</h5>
                            <p>Member</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //testimonials -->

{% include 'indexfooter.html' %}
</body>

</html>