<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>Packing Kings</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8"/>
    <meta name="keywords"
          content="Freight Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"/>
    {% load staticfiles %}
    {#    {% include "headerfiles.html" %}#}

    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>

    <!-- //Meta tag Keywords -->

    <!-- Custom-Files -->
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
    <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css" media="all"/>
    <!-- Style-CSS -->
    <link href="{% static "css/font-awesome.min.css" %}" rel="stylesheet">
    <!-- Font-Awesome-Icons-CSS -->
    <!-- //Custom-Files -->

    <!-- Web-Fonts -->
    <link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    <!-- //Web-Fonts -->
    <script src="{% static "js/jquery-3.4.1.js" %}"></script>
    <script src="{% static "js/popper.js" %}"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>
    <script src="{% static "dist/jquery.validate.js" %}"></script>
    <style>

        .banner {
            background: url("{% static 'images/x21.jpg' %}");
            background-repeat: no-repeat;
            background-size: cover;
            webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            -ms-background-size: cover;
            position: relative;
            z-index: 1;
        }

        .bg-services {
            background: url('{% static '1.png' %}') no-repeat center;
            background-size: cover;
        }
    </style>
    <script>
        {% comment %} function selectcity() {
                var state =  document.getElementById("state").value;
                var xmlhttp;
                xmlhttp = new XMLHttpRequest();
                xmlhttp.onreadystatechange = function () {
                if(this.readyState==4 & this.status==200)
                {
                    var listofcities = JSON.parse(this.response);
                    s="";
                    {#s+="<option value=''>Select City</option>";#}

                    for (var i=0; i<listofcities.length;i++)
                    {
                         s+="<option>"+listofcities[i]+"</option>";
                    }
                     document.getElementById('sourcecity').innerHTML= document.getElementById('sourcecity').innerHTML+ s;
                     document.getElementById('destinationcity').innerHTML= document.getElementById('destinationcity').innerHTML+s;
                }
            };
               xmlhttp.open("GET","showcity?state="+state);
               xmlhttp.send();

         }
         function searchpackages() {
             if($('#searchpackages').valid())
             {
                    var inputdata = new FormData();
                    inputdata.append('state',document.getElementById("state").value);
                    inputdata.append('sourcecity',document.getElementById("sourcecity").value);
                    inputdata.append('destinationcity',document.getElementById("destinationcity").value);

                     var xmlhttp = new XMLHttpRequest();
                    xmlhttp.onreadystatechange = function () {
                        if(this.status == 200 & this.readyState == 4 )
                        {
                            var response = this.responseText;
                            {#alert(response);#}

                                document.getElementById("ans").innerText= "Price is "+response;


                        }
                    };
                     xmlhttp.open("POST","searchpackages",true);
                     xmlhttp.send(inputdata);
                }

         }{% endcomment %}
    </script>
<style>
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {

  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
    z-index: 10000;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

</style>
<script>
        var ans="";
        var count=0;
            function scroll_to_li()
{

$('#yourUL').animate({
     scrollTop: $('#yourUL li:nth-child('+count+')').position().top
}, 'slow');
}
    function send(){
        var msg=document.getElementById('myInput').value;

        ans+="<div ><p style=\"color:blue\">"+msg+"</p></div>";
          document.getElementById('chat').innerHTML=ans;
         var xml = new XMLHttpRequest();
            xml.onreadystatechange=function () {
                if (this.readyState==4 && this.status==200)
                {
                    var ar = this.responseText;
                    count=count+1;
                    ans+="<div  id='div"+count+"'><p style=\"color:black\">"+ar+"</p></div>";
                    document.getElementById('chat').innerHTML=ans;
                    document.getElementById('myInput').value="";
                   var target = document.getElementById('div'+count).offsetTop;
                   document.getElementById('chat').scrollTop = target;
                }
            };
            xml.open('GET','/sendmessage?message='+msg,true);
            xml.send();
    }

    function openForm() {
  document.getElementById("myForm").style.display = "block";
}

function closeForm() {
  document.getElementById("myForm").style.display = "none";

   document.getElementById('chat').innerHTML="";
   document.getElementById('myInput').value="";
   ans="";
}
</script>
</head>

<body>
<div style=" position: fixed;z-index: 1000;
  bottom: 23px;
  right: 28px;
  width: 280px;padding: 16px 20px;
  border: none;
  cursor: pointer;">
    <img onclick="openForm()" src="{% static 'support_woman-512.png' %}" width="50" height="50"><br><p style="color: white;background-color: black;margin-top: 1px;width: 130px;">May I Help You?</p>
</div>

<div class="chat-popup" id="myForm">
  <form action="#" class="form-container">
    <h1>Chat</h1>

    <label for="msg"><b>Message</b></label>
      <div id="chat" style="overflow-y:scroll; height:200px;"></div>

{#    <textarea placeholder="Type message.." name="msg"  id="chat" readonly></textarea>#}
     Enter Message <input type="text" id="myInput" class="form-control" autofocus style="width: 100%">

    <button style="margin-top: 2px;" id="myBtn" type="button" class="btn" onclick="send()">Send</button>
    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
      <script>
var input = document.getElementById("myInput");
input.addEventListener("keyup", function(event) {
  if (event.keyCode === 13) {
   event.preventDefault();
   document.getElementById("myBtn").click();
  }
});
</script>
  </form>
</div>
{% if request.session.useremail %}
    {% include 'indexnabaruser.html' %}
{% elif not request.session.useremail %}
    {% include 'indexnavbarpublic.html' %}
{% endif %}
<!-- //header -->

<!-- banner -->
<section class="banner">
    <!-- banner text -->
    <div class="container">
        <div class="banner_text_wthree_pvt">
            <h3 class="home-banner-w3" style="color: darkcyan">You Pick The Location, <br>We Will Take Care Of the Rest
            </h3>

            {#				<form action="" id="searchpackages" method="post" class="d-flex ">#}
            {#                    {% csrf_token %}#}
            {##}
            {#                    <select id="state" name="state"  data-rule-required="true" data-msg-required="Select state" onchange="selectcity()" style="width: 250px;">#}
            {#                        <option value="">Select State</option>#}
            {#                        <option>Punjab</option>#}
            {#                        <option>Delhi</option>#}
            {#                        <option>Haryana</option>#}
            {#                        <option>Uttar Pradesh</option>#}
            {#                        <option>Jammu and Kashmir</option>#}
            {#                        <option>Maharashtra</option>#}
            {#                        <option>Madhya Pradesh</option>#}
            {#                        <option>Karnataka</option>#}
            {#                        <option>Kerala</option>#}
            {#                        <option>Tamil Nadu</option>#}
            {#                        <option>West Bengal</option>#}
            {#                        <option>Andhra Pradesh</option>#}
            {#                        <option>Rajasthan</option>#}
            {#                        <option>Gujarat</option>#}
            {#                        <option>Assam</option>#}
            {#                        <option>Uttarakhand</option>#}
            {#                    </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#}
            {##}
            {#                        <select id="sourcecity" name="sourcecity"  data-rule-required="true" data-msg-required="Select Source" style="width: 250px;">#}
            {#                        <option value="">Select Source City</option>#}
            {#                        </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#}
            {#                        <select id="destinationcity" name="destinationcity"  data-rule-required="true" data-msg-required="Select Destination" style="width: 250px;" >#}
            {#                        <option value="">Select Destination City</option>#}
            {#                        </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#}
            {##}
            {#					<input type="text" class="serach-input" placeholder="Enter State" name="search" required>#}
            {#					<input type="text" class="serach-input" placeholder="Source City" name="search" required>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#}
            {#					<input type="text" class="serach-input" placeholder="Destination City" name="search" required>&nbsp;&nbsp;&nbsp;&nbsp;<br><br>#}
            {##}


            {#                <a class="btn " style="background: darkcyan;color: white" type="button" href="booking">&nbsp;&nbsp;Book Now</a>#}
            {% if request.session.useremail %}
                <a class="btn " style="background: darkcyan;color: white" type="button" href="searchforpackages">&nbsp;&nbsp;Search
                    Packages</a>
            {% endif %}
            {##}
            {#                </form>#}
            {#                <h1 id="ans" ></h1>#}
        </div>
    </div>
    <!-- //banner text -->
    <!-- banner-bottom -->
    <div class="banner-bottom-w3ls">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-6">
                    <div class="bb-img">
                        <img src="{% static "images/x17.jpg" %}" class="img-fluid img-thumbnail" alt=""/>
                        {#							<h3>caption goes here</h3>#}
                    </div>
                </div>
                <div class="col-sm-4 col-6">
                    <div class="bb-img">
                        <img src="{% static "images/x19.jpg" %}" class="img-fluid img-thumbnail" alt=""/>
                        {#							<h3>caption goes here</h3>#}
                    </div>
                </div>
                <div class="col-sm-4 col-6 mx-auto mt-sm-0 mt-4">
                    <div class="bb-img">
                        <img src="{% static "images/x21.jpg" %}" class="img-fluid img-thumbnail" alt=""/>
                        {#							<h3>caption goes here</h3>#}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //banner-bottom -->
</section>
<!-- //banner -->

<!-- about-->
<section class="single_grid_w3_main align-w3-abt" id="about">
    <div class="container">
        <div class="wthree_pvt_title text-center">
            <h4 class="w3pvt-title">OUR PROCESS</h4>
            {#				<p class="sub-title">Subheadings stand out because they are like mini titles. They make your post stand#}
            {#					out and#}
            {#					make it more readable.</p>#}
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="abt-grid">
                    <div class="row">
                        <div class="col-3">
                            <div class="abt-icon">
                                <span class="fa fa-subway"></span>
                            </div>
                        </div>
                        <div class="col-9">
                            <div class="abt-txt">
                                <h4>Taking the Order</h4>
                                <p>We take the various types of shifting orders from our nationwide customers.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 my-lg-0 my-4">
                <div class="abt-grid">
                    <div class="row">
                        <div class="col-3">
                            <div class="abt-icon">
                                <span class="fa fa-ship"></span>
                            </div>
                        </div>
                        <div class="col-9">
                            <div class="abt-txt">
                                <h4>Adding to Database</h4>
                                <p>Next, we add the details of the order into our database to carry them out as per the
                                    schedule</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 my-lg-0 my-4">
                <div class="abt-grid">
                    <div class="row">
                        <div class="col-3">
                            <div class="abt-icon">
                                <span class="fa fa-ship"></span>
                            </div>
                        </div>
                        <div class="col-9">
                            <div class="abt-txt">
                                <h4>Getting the Cargo</h4>
                                <p>One of our company’s representatives will reach your doorway to collect cargo from
                                    you.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 my-lg-0 my-4">
                <div class="abt-grid">
                    <div class="row">
                        <div class="col-3">
                            <div class="abt-icon">
                                <span class="fa fa-ship"></span>
                            </div>
                        </div>
                        <div class="col-9">
                            <div class="abt-txt">
                                <h4>Loading packages</h4>
                                <p>Loading of packages is done in a fully professional and appealing way to ensure the
                                    package remains unscathed during transportation.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 my-lg-0 my-4">
                <div class="abt-grid">
                    <div class="row">
                        <div class="col-3">
                            <div class="abt-icon">
                                <span class="fa fa-ship"></span>
                            </div>
                        </div>
                        <div class="col-9">
                            <div class="abt-txt">
                                <h4>Transportation</h4>
                                <p>Our transportation service will then take your cargo to the destined location in a
                                    hassle-free fashion.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 my-lg-0 my-4">
                <div class="abt-grid">
                    <div class="row">
                        <div class="col-3">
                            <div class="abt-icon">
                                <span class="fa fa-ship"></span>
                            </div>
                        </div>
                        <div class="col-9">
                            <div class="abt-txt">
                                <h4>Delievery to the door</h4>
                                <p>We transport your cargo to the doorway without causing the recipient to go through
                                    any type of hassle in receiving it.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="d-flex justify-content-center">
            <a href="about" class="btn w3ls-btn" style="background: #11d491">view more</a>
        </div>
    </div>
</section>
<!-- //about -->

<!-- services -->
<section class="bg-services position-relative align-w3" id="services">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="services-bg-color">
                    <div class="wthree_pvt_title mb-3">
                        <h4 class="w3pvt-title w3pvt-titl-sec text-wh">OUR WORK
                        </h4>
                        <span class="sub-title text-li"></span>
                    </div>
                    <div class="row">
                        <div class="col-md-6 service-title my-4">
                            <h4 class="home-title text-theme">24/7 SERVICE</h4>
                            <h6>
                                Well experienced team Coordinator-24/7 Customer Support
                            </h6>
                        </div>
                        <div class="col-md-6 service-title my-4">
                            <h4 class="home-title text-theme">DELIEVERY ON TIME</h4>
                            <h6>
                                Professional packing and moving, Delivery on time.
                            </h6>
                        </div>
                        <div class="col-md-6 service-title my-4">
                            <h4 class="home-title text-theme">LIVE TRACKING</h4>
                            <h6 class="home-title text-theme">
                                We are providing Live Tracking system.
                            </h6>
                        </div>
                        <div class="col-md-6 service-title my-md-4">
                            <h4 class="home-title text-theme">SMS ALERTS</h4>
                            <h6 class="home-title text-theme">
                                We are alert time to time customer by email and sms.
                            </h6>
                        </div>
                        <div class="col-md-6 service-title mt-4">
                            <h4 class="home-title text-theme">QUICK SERVICE</h4>
                            <h6 class="home-title text-theme">We provide fastest service ever! Tension Free Relocation
                                !</h6>

                        </div>
                        <div class="col-md-6 service-title mt-4">
                            <h4 class="home-title text-theme">NO DAMAGES</h4>
                            <h6 class="home-title text-theme">
                                No Damages During Handling your goods! we're expert in relocation
                            </h6>
                        </div>
                    </div>
                    <div class="d-flex justify-content-start">
                        <a href="about" class="btn w3ls-btn" style="background: #11d491">view more</a>
                    </div>
                </div>

            </div>
            <div class="offset-lg-2"></div>
        </div>
    </div>
</section>
<!-- //services -->

<!-- portfolio -->
<section class="portfolio-wthree align-w3 py-5" id="portfolio">
    <div class="container py-xl-5 py-lg-3">
        <div class="wthree_pvt_title text-center">
            <h4 class="w3pvt-title">WHAT WE OFFER</h4>
            {#				<p class="sub-title">Subheadings stand out because they are like mini titles. They make your post stand#}
            {#					out and#}
            {#					make it more readable.</p>#}
        </div>
        <div>
            <ul class="demo row">
                <li class="col-lg-4">
                    <div class="img-grid">
                        <div class="Portfolio-grid1">
                            <a href="#gal1">
                                <img src="{% static "images/office.jpg" %}" alt=" " class="img-fluid"/>
                            </a>
                        </div>
                        <div class="port-desc text-center">
                            <h6 class="main-title-w3pvt text-center">Office Shifting</h6>
                            <p>Our office packing and moving process operated with extreme care. All of your documents
                                are packed with
                                extreme care. All computers and other office goods are moved in a specially designed
                                container. Customer satisfaction and quality in service are two factors which
                                made us one of the Best Packers And Movers. We assure you with high quality services.
                                You just have
                                to make us one call and we will reach at your place.
                            </p>
                        </div>
                    </div>
                </li>
                <li class="col-lg-4">
                    <div class="img-grid">
                        <div class="Portfolio-grid1">
                            <a href="#gal2">
                                <img src="{% static "images/car.jpg" %}" alt=" " class="img-fluid"/>
                            </a>
                        </div>
                        <div class="port-desc text-center">
                            <h6 class="main-title-w3pvt text-center">Car Transportation</h6>
                            <p> We strive to provide personalized and cost effective car and bike packers and movers
                                services.We make use of trailers and heavy trucks
                                to carry the cars, bike and other vehicles to the new relocated place. We have specially
                                designed our
                                trucks and trailers to meet the varied needs and expectations of our clients. We appoint
                                licensed and
                                approved drivers to drive our trucks in which the vehicles of our clients are loaded.
                            </p>
                        </div>
                    </div>
                </li>
                <li class="col-lg-4">
                    <div class="img-grid">
                        <div class="Portfolio-grid1">
                            <a href="#gal3">
                                <img src="{% static "images/house.jpg" %}" alt=" " class="img-fluid"/>
                            </a>
                        </div>
                        <div class="port-desc text-center">
                            <h6 class="main-title-w3pvt text-center">Household Shifting</h6>
                            <p> Our Home packers and movers services include the relocation of valuable and delicate
                                items such as
                                television, air conditioning systems, refrigerators, plants, furniture, dining table,
                                car / bike and many
                                more from your home to your new destination. We assure you with the high relocation
                                quality services.We take care of your every single movable, for which we offer fast &
                                reliable services.
                            </p>
                        </div>
                    </div>
                </li>
                <li class="col-lg-4">
                    <div class="img-grid">
                        <div class="Portfolio-grid1">
                            <a href="#gal4">
                                <img src="{% static "images/local.png" %}" alt=" " class="img-fluid"/>
                            </a>
                        </div>
                        <div class="port-desc text-center">
                            <h6 class="main-title-w3pvt text-center">Local Shifting</h6>
                            <p>If you are shifting to across city. Being one of the best packers and movers, we provides
                                home, office,
                                apartment relocation within city at affordable price tags.Packing Kings movers and
                                packers is best in the market because we offer quality relocation services. We assure
                                you with the high
                                quality services. You just have to make us one call and we will reach at your place.We
                                take care of your
                                every single movable, for which we offer fast & reliable services.
                            </p>
                        </div>
                    </div>
                </li>
                <li class="col-lg-4">
                    <div class="img-grid">
                        <div class="Portfolio-grid1">
                            <a href="#gal5">
                                <img src="{% static "images/insurance.png" %}" alt=" " class="img-fluid"/>
                            </a>
                        </div>
                        <div class="port-desc text-center">
                            <h6 class="main-title-w3pvt text-center">Insurance</h6>
                            <p> We offer transit insurance, comprehensive insurance in case of damage of goods caused
                                due to accidents,
                                fire, riots etc, which are beyond our control. Hence if there is no accident to the
                                vehicle no claim for compensation can be made.
                                Here the compensation towards damages/loses are paid only if the vehicle meets with an
                                accident.
                                We take care of your every single movable, for which we offer fast & reliable services.
                            </p>
                        </div>
                    </div>
                </li>
                <li class="col-lg-4">
                    <div class="img-grid">
                        <div class="Portfolio-grid1">
                            <a href="#gal6">
                                <img src="{% static "images/g6.jpg" %}" alt=" " class="img-fluid"/>
                            </a>
                        </div>
                        <div class="port-desc text-center">
                            <h6 class="main-title-w3pvt text-center">Storage Solutions</h6>
                            <p>
                                We give importance packing and transportation where all safety precaution are been
                                taken.The goods are
                                packed with premium quality material, and vehicles are chosen accordingly to safeguard
                                your goods.
                                Our warehouse facilities are ready to meet your storage needs anytime, anywhere. Expert
                                crews will come to
                                your home or business to pick up your goods, handle your belongings with care and store
                                them in one of our secure warehouse locations.
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>


        <!-- popup-->
        <div id="gal1" class="popup-effect animate">
            <div class="popup">
                <img src="{% static "images/g1.jpg" %}" alt="Popup Image" class="img-fluid"/>
                <p class="editContent mt-4">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat
                    placerat
                    dolor.</p>
                <a class="close" href="#gallery">&times;</a>
            </div>
        </div>
        <!-- //popup -->
        <!-- popup-->
        <div id="gal2" class="popup-effect animate">
            <div class="popup">
                <img src="{% static "images/g2.jpg" %}" alt="Popup Image" class="img-fluid"/>
                <p class="editContent mt-4">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat
                    placerat
                    dolor.</p>
                <a class="close" href="#gallery">&times;</a>
            </div>
        </div>
        <!-- //popup -->
        <!-- popup-->
        <div id="gal3" class="popup-effect animate">
            <div class="popup">
                <img src="{% static "images/g3.jpg" %}" alt="Popup Image" class="img-fluid"/>
                <p class="editContent mt-4">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat
                    placerat
                    dolor.</p>
                <a class="close" href="#gallery">&times;</a>
            </div>
        </div>
        <!-- //popup3 -->
        <!-- popup-->
        <div id="gal4" class="popup-effect animate">
            <div class="popup">
                <img src="{% static "images/g4.jpg" %}" alt="Popup Image" class="img-fluid"/>
                <p class="editContent mt-4">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat
                    placerat
                    dolor.</p>
                <a class="close" href="#gallery">&times;</a>
            </div>
        </div>
        <!-- //popup -->
        <!-- popup-->
        <div id="gal5" class="popup-effect animate">
            <div class="popup">
                <img src="{% static "images/g5.jpg" %}" alt="Popup Image" class="img-fluid"/>
                <p class="editContent mt-4">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat
                    placerat
                    dolor.</p>
                <a class="close" href="#gallery">&times;</a>
            </div>
        </div>
        <!-- //popup -->
        <!-- popup-->
        <div id="gal6" class="popup-effect animate">
            <div class="popup">
                <img src="{% static "images/g6.jpg" %}" alt="Popup Image" class="img-fluid"/>
                <p class="editContent mt-4">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat
                    placerat
                    dolor.</p>
                <a class="close" href="#gallery">&times;</a>
            </div>
        </div>
        <!-- //popup -->
    </div>
</section>
<!-- //portfolio -->

<!-- slide -->
<section class="wthree-slie-btm py-lg-5" id="more">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="slide-banner pl-0">
                </div>
            </div>
            <div class="col-lg-6 mt-lg-0 mt-4">
                <div class="container">
                    <div class="wthree_pvt_title">
                        <h4 class="w3pvt-title">Industry Solutions
                        </h4>
                        <span class="sub-title">add your caption here</span>
                    </div>
                    <div class="row flex-column">
                        <div class="abt-grid">
                            <div class="row">
                                <div class="col-3">
                                    <div class="abt-icon">
                                        <span class="fa fa-fighter-jet"></span>
                                    </div>
                                </div>
                                <div class="col-9">
                                    <div class="abt-txt ml-0">
                                        <h4>sanctus takimata </h4>
                                        <p>Lo sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="abt-grid mt-4 pt-lg-2">
                            <div class="row">
                                <div class="col-3">
                                    <div class="abt-icon">
                                        <span class="fa fa-truck"></span>
                                    </div>
                                </div>
                                <div class="col-9">
                                    <div class="abt-txt ml-0">
                                        <h4>takimata sanctus</h4>
                                        <p>Lo sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-start">
                        <a href="about" class="btn w3ls-btn">view more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //slide -->

<!-- blog -->
<!-- blog -->
<section class="blog_w3ls align-w3" id="blog">
    <div class="container">
        <div class="wthree_pvt_title text-center">
            <h4 class="w3pvt-title">latest posts
            </h4>
            <p class="sub-title">Subheadings stand out because they are like mini titles. They make your post stand
                out and
                make it more readable.</p>
        </div>
        <div class="row space-sec">
            <!-- blog grid -->
            <div class="col-lg-4 col-md-6 mt-sm-0 mt-4">
                <div class="card">
                    <div class="card-header p-0 position-relative">
                        <a href="single.html">
                            <img class="card-img-bottom" src="{% static "images/g1.jpg" %}" alt="Card image cap">
                            <span class="post-icon">blog post</span>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="blog-title card-title font-weight-bold">
                            <a href="single.html">Cras ultricies ligula sed.</a>
                        </h5>
                        <p>At vero eos et accusam et justo duo dolores et ea rebum. Lorem ipsum dolor sit
                            ametLorem ipsum dolor sit amet,sed diam nonumy.</p>
                        <a href="single.html" class="blog_link">Read more</a>
                    </div>
                </div>
            </div>
            <!-- //blog grid -->
            <!-- blog grid -->
            <div class="col-lg-4 col-md-6 mt-md-0  mt-4">
                <div class="card">
                    <div class="card-header p-0 position-relative">
                        <a href="single.html">
                            <img class="card-img-bottom" src="{% static "images/g2.jpg" %}" alt="Card image cap">
                            <span class="post-icon">blog post</span>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="blog-title card-title font-weight-bold">
                            <a href="single.html">magna porta au blandita.</a>
                        </h5>
                        <p>At vero eos et accusam et justo duo dolores et ea rebum. Lorem ipsum dolor sit
                            ametLorem ipsum dolor sit amet,sed diam nonumy.</p>
                        <a href="single.html" class="blog_link">Read more</a>
                    </div>
                </div>
            </div>
            <!-- //blog grid -->
            <!-- blog grid -->
            <div class="col-lg-4 col-md-6 mt-lg-0 mt-4 mx-auto blog-end">
                <div class="card">
                    <div class="card-header p-0  position-relative">
                        <a href="single.html">
                            <img class="card-img-bottom" src="{% static "images/g3.jpg" %}" alt="Card image cap">
                            <span class="post-icon">blog post</span>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="blog-title card-title font-weight-bold">
                            <a href="single.html">Cras ultricies ligula sed.</a>
                        </h5>
                        <p>At vero eos et accusam et justo duo dolores et ea rebum. Lorem ipsum dolor sit
                            ametLorem ipsum dolor sit amet,sed diam nonumy.</p>
                        <a href="single.html" class="blog_link">Read more</a>
                    </div>
                </div>
            </div>
            <!-- //blog grid -->
        </div>
    </div>
</section>
<!-- //blog -->
{#reviews slider#}
<section>
    <div class="slideshow-container">

        <div class="mySlides">
            <div class="row">
                <div class="col-sm-3">
                    <img style="width: 80%;height: 70%" src="{% static 'media/' %}{{ x.0.photo }}" alt="">
                </div>
                <div class="col-sm-9 text-left">
                    <h5>{{x.0.bookername}}</h5>
                    <span>{{x.0.rating}}</span><br>
                    <span>{{x.0.review}}</span><br>
                </div>
            </div>
        </div>

        <div class="mySlides">
            <div class="row">
                <div class="col-sm-3">
                    <img style="width: 80%;height: 70%" src="{% static 'media/' %}{{ x.1.photo }}" alt="">
                </div>
                <div class="col-sm-9 text-left">
                    <h5>{{x.1.bookername}}</h5>
                    <span>{{x.1.rating}}</span><br>
                    <span>{{x.1.review}}</span><br>
                </div>
            </div>
        </div>

        <div class="mySlides">
            <div class="row">
                <div class="col-sm-3">
                    <img style="width: 80%;height: 70%" src="{% static 'media/' %}{{ x.2.photo }}" alt="">
                </div>
                <div class="col-sm-9 text-left">
                    <h5>{{x.2.bookername}}</h5>
                    <span>{{x.2.rating}}</span><br>
                    <span>{{x.2.review}}</span><br>
                </div>
            </div>
        </div>
        </div>
        <div class="mySlides">
            <div class="row">
                <div class="col-sm-3">
                    <img style="width: 80%;height: 70%" src="{% static 'media/' %}{{ x.3.photo }}" alt="">
                </div>
                <div class="col-sm-9 text-left">
                    <h5>{{x.3.bookername}}</h5>
                    <span>{{x.3.rating}}</span><br>
                    <span>{{x.3.review}}</span><br>
                </div>
            </div>
        </div>
        </div>

        <a class="prev" onclick="plusSlides(-1)">❮</a>
        <a class="next" onclick="plusSlides(1)">❯</a>

    </div>

    <div class="dot-container">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
        <span class="dot" onclick="currentSlide(4)"></span>
    </div>

</section>
<style>
    * {
        box-sizing: border-box
    }

    body {
        font-family: Verdana, sans-serif;
        margin: 0
    }

    /* Slideshow container */
    .slideshow-container {
        position: relative;
        background: #f1f1f1f1;
    }

    /* Slides */
    .mySlides {
        display: none;
        padding: 80px;
        text-align: center;
    }

    /* Next & previous buttons */
    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -30px;
        padding: 16px;
        color: #888;
        font-weight: bold;
        font-size: 20px;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }

    /* Position the "next button" to the right */
    .next {
        position: absolute;
        right: 0;
        border-radius: 3px 0 0 3px;
    }

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
        color: white;
    }

    /* The dot/bullet/indicator container */
    .dot-container {
        text-align: center;
        padding: 20px;
        background: #ddd;
    }

    /* The dots/bullets/indicators */
    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }

    /* Add a background color to the active dot/circle */
    .active, .dot:hover {
        background-color: #717171;
    }

    /* Add an italic font style to all quotes */
    q {
        font-style: italic;
    }

    /* Add a blue color to the author */
    .author {
        color: cornflowerblue;
    }
</style>

<script>
    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");
        if (n > slides.length) {
            slideIndex = 1
        }
        if (n < 1) {
            slideIndex = slides.length
        }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
    }
</script>


{#end of revires slider#}
{% include 'indexfooter.html' %}
</body>

</html>