<header id="home">
    <div class="container">
        <div class="header d-lg-flex justify-content-between align-items-center py-sm-3 py-2 px-sm-2 px-1">
            <!-- logo -->
            <div id="logo">
                <h1><a href="/">Packing Kings</a></h1>
            </div>
            <!-- //logo -->
            <!-- nav -->
            <div class="nav_w3ls ml-lg-5">
                <nav>
                    <label for="drop" class="toggle">Menu</label>
                    <input type="checkbox" id="drop"/>
                    <ul class="menu">
                        <li><a href="/">Home</a></li>
                        <li><a href="about">About</a></li>
                        <li><a href="booking">ShifMyHome</a></li>
                        <li>
                            <!-- First Tier Drop Down -->
                            <label for="drop-2" class="toggle toogle-2">Dropdown <span class="fa fa-angle-down"
                                                                                       aria-hidden="true"></span>
                            </label>
                            <a href="#">Services <span class="fa fa-angle-down" aria-hidden="true"></span></a>
                            <input type="checkbox" id="drop-2"/>
                            <ul>

{#                                <li><a href="booking" class="drop-text">Booking</a></li>#}
{#                                <li><a href="/" class="drop-text">Blog</a></li>#}
                                <li><a href="/" class="drop-text">Services</a></li>
                                <li><a href="about" class="drop-text">More</a></li>
                            </ul>
                        </li>
                        <li><a href="contact">Contact</a></li>
                        <li class="ml-xl-5 ml-lg-2 mt-lg-0 mt-sm-4 mt-3">
                            <a href="login" class="reqe-button">Login</a>
                            <a href="register" class="reqe-button">Register</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- //nav -->
        </div>
    </div>
</header>
