<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}

    <link href="{% static "UI/jquery-ui.css" %}" rel="stylesheet">

    <script src="{% static "js/jquery-3.4.1.js" %}"></script>
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
    <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css" media="all"/>
    <!-- Style-CSS -->

    <link href="{% static "css/font-awesome.min.css" %}" rel="stylesheet">
    <!-- Font-Awesome-Icons-CSS -->
    <!-- //Custom-Files -->
    <!-- Web-Fonts -->
    <link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    <!-- //Web-Fonts -->
{#    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">#}
    <script>
        function selectpickup() {
            var pickupstate = document.getElementById("pickupstate").value;

            var xmlhttp;
            xmlhttp = new XMLHttpRequest();
            xmlhttp.onreadystatechange = function () {
                if (this.readyState == 4 & this.status == 200) {
                    var listofcities = JSON.parse(this.response);
                    s = "";
                    s += "<option value=''>Select City</option>";
                    {#alert(listofcities);#}
                    for (var i = 0; i < listofcities.length; i++) {
                        s += "<option>" + listofcities[i] + "</option>";
                    }
                    document.getElementById('pickupcity').innerHTML = s;
                }
            };
            xmlhttp.open("GET", "showcity?state=" + pickupstate);
            xmlhttp.send()
        }

        function dropping() {
            var droppingstate = document.getElementById("droppingstate").value;

            var xmlhttp;
            xmlhttp = new XMLHttpRequest();
            xmlhttp.onreadystatechange = function () {
                if (this.readyState == 4 & this.status == 200) {
                    var listofcities = JSON.parse(this.response);
                    s = "";
                    s += "<option value=''>Select City</option>";
                    {#alert(listofcities);#}
                    for (var i = 0; i < listofcities.length; i++) {
                        s += "<option>" + listofcities[i] + "</option>";
                    }
                    document.getElementById('droppingcity').innerHTML = s;
                }
            };
            xmlhttp.open("GET", "showcity?state=" + droppingstate);
            xmlhttp.send()
        }

        function searchpackages() {
            var pickupcity = document.getElementById("pickupcity").value;
            var droppingcity = document.getElementById("droppingcity").value;

            var xmlhttp;
            xmlhttp = new XMLHttpRequest();
            xmlhttp.onreadystatechange = function () {
                if (this.readyState == 4 & this.status == 200) {

                    if (this.responseText == "fail") {
                        alert("No Services Available for Above Stations ");
                        {#document.getElementById("message").innerHTML = "No Service Available for above Stations";#}
                    } else {
                        var output = JSON.parse(this.response);

                        s = "";

                        {#alert(listofcities);#}
                        for (var i = 0; i < output.length; i++) {
                            alert(output[i].packagename);
                            s += "<tr>";
                            s += "<td>" + output[i].packagename + "</td>";
                            s += "<td>" + output[i].description + "</td>";
                            s += "<td>" + output[i].price + "</td>";
                            s+="</tr>"
                        }

                        document.getElementById("tablebody").innerHTML =s;
                    }
                }
            };
            xmlhttp.open("GET", "searchforpackages1?pickupcity=" + pickupcity + "&droppingcity=" + droppingcity);
            xmlhttp.send();
        }

    </script>
     <style>

        .error {
        color: red;
        }

        {#body {#}
        {#    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, .4)), url("{% static "images/x21.jpg" %}") fixed no-repeat center center/cover;#}
        {#}#}
</style>
</head>
<body>
{% if request.session.useremail %}
    {% include 'indexnabaruser.html' %}
{% elif not request.session.useremail %}
    {% include 'indexnavbarpublic.html' %}
{% endif %}
<center><h1 class="page-header" style="margin-top: 40px ;color:white;background-color:darkcyan ;width:40% ">Search Packages</h1></center><br><br>

<div class="col-sm-6 offset-sm-3">
<form action="" id="searchforpackages" method="post">
        {% csrf_token %}
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
                            <h5>Pickup State</h5>
                            <select class="form-control" name="pickupstate" id="pickupstate" required
                                    data-msg-required="Select State" onchange="selectpickup()">
                                <option value="">Pickup State</option>
                                <option>Punjab</option>
                                <option>Delhi</option>
                                <option>Haryana</option>
                                <option>Uttar Pradesh</option>
                                <option>Jammu and Kashmir</option>
                                <option>Maharashtra</option>
                                <option>Madhya Pradesh</option>
                                <option>Karnataka</option>
                                <option>Kerala</option>
                                <option>Tamil Nadu</option>
                                <option>West Bengal</option>
                                <option>Andhra Pradesh</option>
                                <option>Rajasthan</option>
                                <option>Gujarat</option>
                                <option>Assam</option>
                                <option>Uttarakhand</option>
                            </select>
                        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
                            <h5>Pickup City</h5>
                            <select class="form-control" name="pickupcity" id="pickupcity" required
                                    data-msg-required="Select City">
                                <option value="">Pickup City</option>
                            </select>
                        </div>
    </div>
</div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                            <h5> Dropping State</h5>
                            <select class="form-control" required name="droppingstate" data-msg-required="Select State"
                                    id="droppingstate" onchange="dropping()">
                                <option value="">Dropping State</option>
                                <option>Punjab</option>
                                <option>Delhi</option>
                                <option>Haryana</option>
                                <option>Uttar Pradesh</option>
                                <option>Jammu and Kashmir</option>
                                <option>Maharashtra</option>
                                <option>Madhya Pradesh</option>
                                <option>Karnataka</option>
                                <option>Kerala</option>
                                <option>Tamil Nadu</option>
                                <option>West Bengal</option>
                                <option>Andhra Pradesh</option>
                                <option>Rajasthan</option>
                                <option>Gujarat</option>
                                <option>Assam</option>
                                <option>Uttarakhand</option>
                            </select>
                        </div>
        </div>
        <div class="col-sm-6">
             <div class="form-group">
                            <h5>Dropping City</h5>
                            <select class="form-control" name="droppingcity" id="droppingcity" required
                                    data-msg-required="Select City" >
                                <option value="">Dropping City</option>
                            </select>
             </div>
        </div>
    </div>
    <center><input type="button" value="Search" class="btn " style="background-color: darkcyan;color: white" onclick="searchpackages()"></center><br>
</form>
</div>
<div class="table-responsive col-sm-8 offset-sm-2">
<table class="table">
    <thead>
    <th>Package Name </th>
    <th>Description</th>
    <th>Price</th>
    </thead>
   <tbody id="tablebody"></tbody>
</table>
</div>
<center><a type="button"  class="btn" style="background-color: darkcyan;color: white" href="booking">Shift My Home</a></center>
</body>
</html>