<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Couch Hunter V2 an Interior and Furniture Category Bootstrap Responsive Website Template | Index ::
        W3layouts</title>
    {% include 'indexheaderfiles.html' %}
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link href="//fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Nunito:400,600,700,800,900&display=swap" rel="stylesheet">
</head>
<body>
{% if request.session.mobile %}
    {% include 'indexnavbaruser.html' %}
{% elif not request.session.mobile %}
    {% include 'indexnavigation.html' %}
{% endif %}
<section class="w3l-carousel">
    <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active" style="background-image: url('{% static 'assets/images/banner.jpg' %}');">
                <!-- <img src="{% static 'assets/images/banner.jpg' %}" class="d-block w-100" alt="..."> -->
                <div class="carousel-caption container">
                    <h6 class="tag-cover-9"> Furl Hunter</h6>
                    <h3 class="title-cover-9">Luxurious Furniture</h3>
                    <p class="para-cover-9">Once aute irure dolor in reprehenderit in voluptate velit
                        esse cillum dolore eu fugiat nulla pariatur consectetur adipiscing elit eu fugiat nulla
                        laudantium sunt in
                        culpa qui.</p>
                    <a href="#portfolio" class="btn btn-primary btn-action mt-5">View Portfolio</a>
                    <a href="#about" class="btn btn-outline-light btn-outline-action mt-5">About Us</a>
                </div>
            </div>
            <div class="carousel-item" style="background-image: url('{% static 'assets/images/banner-3.jpg' %}')">
                <!-- <img src="{% static 'assets/images/banner-3.jpg' %}" class="d-block w-100" alt="..."> -->
                <div class="carousel-caption container">
                    <h6 class="tag-cover-9"> Furl Hunter</h6>
                    <h3 class="title-cover-9">Comfortable Furniture</h3>
                    <p class="para-cover-9">Excepteur sint occaecat cupidatat non proident, sunt in
                        culpa qui officia sed deserunt mollit anim id est laborum mollit anim id est nulla laudantium
                        sunt in culpa
                        qui.</p>
                    <a href="#portfolio" class="btn btn-primary btn-action mt-5">View Portfolio</a>
                    <a href="#about" class="btn btn-outline-light btn-outline-action mt-5">About Us</a>
                </div>
            </div>
            <div class="carousel-item" style="background-image: url('{% static 'assets/images/banner-2.jpg' %}')">
                <!-- <img src="{% static 'assets/images/banner-2.jpg' %}" class="d-block w-100" alt="..."> -->
                <div class="carousel-caption container">
                    <h6 class="tag-cover-9"> Furl Hunter</h6>
                    <h3 class="title-cover-9">Imported Leather Furniture</h3>
                    <p class="para-cover-9">Sed ut perspiciatis unde omnis iste natus error sit
                        voluptatem accus antium dolor emque laudantium sunt in culpa qui laborum eu fugiat nulla
                        laudantium sunt in
                        culpa qui.</p>
                    <a href="#portfolio" class="btn btn-primary btn-action mt-5">View Portfolio</a>
                    <a href="#about" class="btn btn-outline-light btn-outline-action mt-5">About Us</a>
                </div>
            </div>
            <div class="carousel-item" style="background-image: url('{% static 'assets/images/banner-1.jpg' %}')">
                <!-- <img src="{% static 'assets/images/banner-1.jpg' %}" class="d-block w-100" alt="..."> -->
                <div class="carousel-caption container">
                    <h6 class="tag-cover-9"> Furl Hunter</h6>
                    <h3 class="title-cover-9">1000+ Models</h3>
                    <p class="para-cover-9">Once aute irure dolor in reprehenderit in voluptate velit
                        esse cillum dolore eu fugiat nulla pariatur consectetur adipiscing elit eu fugiat nulla
                        laudantium sunt in
                        culpa qui.</p>
                    <a href="#portfolio" class="btn btn-primary btn-action mt-5">View Portfolio</a>
                    <a href="#about" class="btn btn-outline-light btn-outline-action mt-5">About Us</a>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>

<!-- Content-with-photo23 block -->
<section class="w3l-content-with-photo-23" id="about">
    <div id="cwp23-block" class="py-5">
        <div class="container py-lg-3">
            <h3 class="global-title text-secondary">About us</h3>
            <div class="row cwp23-content align-items-lg-center">
                <div class="cwp23-img col-md-6 pt-md-4">
                    <img src="http://127.0.0.1:8000/static/images/g1.jpg" class="img-fluid" alt=""/>
                </div>
                <div class="cwp23-text col-md-6 mt-4 mt-md-0 pl-md-4">
                    <div class="cwp23-title">
                        <h3>Very few people changed the world by sitting on their couch </h3>
                    </div>
                    <div class="row cwp23-text-cols">
                        <div class="column col-lg-6 mt-4">
                            <h4 class="text-primary">EMI Purchases</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor </p>
                        </div>
                        <div class="column col-lg-6 mt-4">
                            <h4 class="text-primary">International Market</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor </p>
                        </div>
                        <div class="column col-lg-6 mt-4">
                            <h4 class="text-primary">1 Million+ Customizations</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor </p>
                        </div>
                        <div class="column col-lg-6 mt-4">
                            <h4 class="text-primary">Build From Scratch</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Content-with-photo23 block -->
<!-- specifications -->
<section class="w3l-specifications-9">
    <div class="main-w3 py-5" id="stats">
        <div class="container py-lg-3">
            <h4 class="sub-title">Our Stats</h4>
            <h3 class="global-title text-secondary">We have something to be Proud of</h3>
            <div class="row main-cont-wthree-fea text-center">
                <div class="col-lg-3 col-sm-6 mt-4">
                    <div class="grids-speci1">
                        <span class="fa fa-cart-plus text-primary"></span>
                        <h3 class="title-spe">10m+</h3>
                        <p>Products Sold</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 mt-4">
                    <div class="grids-speci1">
                        <span class="fa fa-user text-primary"></span>
                        <h3 class="title-spe">380k</h3>
                        <p> Customers</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 mt-4">
                    <div class="grids-speci1">
                        <span class="fa fa-moon-o text-primary"></span>
                        <h3 class="title-spe">90+</h3>
                        <p>Days</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 mt-4">
                    <div class="grids-speci1">
                        <span class="fa fa-clock-o text-primary"></span>
                        <h3 class="title-spe">560+</h3>
                        <p>R&D Hours</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- //specifications -->
</section>
<section class="w3l-features-7">
    <!-- /features -->
    <div class="features py-5" id="services">
        <div class="container py-lg-3">
            <div class="section-title align-center text-center">
                <h4 class="sub-title">We Offer</h4>
                <h3 class="global-title text-white">Exclusive features for you</h3>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="feature-gd">
                        <div class="icon"><span class="fa fa-truck text-primary" aria-hidden="true"></span></div>
                        <div class="icon-info">
                            <h5 class="my-3"><a href="#url">Free Shipping & Returns</a></h5>
                            <p> Lorem ipsum dolor sit amet, consectetur adipisicingelit, sed do eiusmod tempor
                                incididunt ut labore et
                                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud. </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="feature-gd">
                        <div class="icon"><span class="fa fa-money text-primary" aria-hidden="true"></span></div>
                        <div class="icon-info">
                            <h5 class="my-3"><a href="#url">Priced Just Right</a></h5>
                            <p> Lorem ipsum dolor sit amet, consectetur adipisicingelit, sed do eiusmod tempor
                                incididunt ut labore et
                                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud. </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="feature-gd">
                        <div class="icon"><span class="fa fa-exchange text-primary" aria-hidden="true"></span></div>
                        <div class="icon-info">
                            <h5 class="my-3"><a href="#url">10 Year Honest warranty</a></h5>
                            <p> Lorem ipsum dolor sit amet, consectetur adipisicingelit, sed do eiusmod tempor
                                incididunt ut labore et
                                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud. </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="feature-gd">
                        <div class="icon"><span class="fa fa-truck text-primary" aria-hidden="true"></span></div>
                        <div class="icon-info">
                            <h5 class="my-3"><a href="#url">Free Shipping & Returns</a></h5>
                            <p> Lorem ipsum dolor sit amet, consectetur adipisicingelit, sed do eiusmod tempor
                                incididunt ut labore et
                                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud. </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="feature-gd">
                        <div class="icon"><span class="fa fa-money text-primary" aria-hidden="true"></span></div>
                        <div class="icon-info">
                            <h5 class="my-3"><a href="#url">Priced Just Right</a></h5>
                            <p> Lorem ipsum dolor sit amet, consectetur adipisicingelit, sed do eiusmod tempor
                                incididunt ut labore et
                                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud. </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="feature-gd">
                        <div class="icon"><span class="fa fa-exchange text-primary" aria-hidden="true"></span></div>
                        <div class="icon-info">
                            <h5 class="my-3"><a href="#url">10 Year Honest warranty</a></h5>
                            <p> Lorem ipsum dolor sit amet, consectetur adipisicingelit, sed do eiusmod tempor
                                incididunt ut labore et
                                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //features -->
</section>
<!-- portfolio -->
<section class="w3l-gallery py-5" id="portfolio">
    <div class="container py-lg-3">
        <div class="title-section">
            <h3 class="global-title text-secondary">Gallery</h3>
        </div>
        <ul class="portfolio-area clearfix p-0 m-0">
            <li class="portfolio-item2" data-id="id-1" data-type="cat-item-1">
                    <span class="image-block">
                        <a class="image-zoom" href="{% static 'assets/images/e1.jpg' %}"
                           data-gal="prettyPhoto[gallery]">
                            <img src="{% static 'assets/images/e1.jpg' %}" class="img-fluid w3layouts "
                                 alt="portfolio-img">
                        </a>
                    </span>
            </li>
            <li class="portfolio-item2" data-id="id-2" data-type="cat-item-2">
                    <span class="image-block">
                        <a class="image-zoom" href="{% static 'assets/images/e2.jpg' %}"
                           data-gal="prettyPhoto[gallery]">
                            <img src="{% static 'assets/images/e2.jpg' %}" class="img-fluid w3layouts "
                                 alt="portfolio-img">
                        </a>
                    </span>
            </li>
            <li class="portfolio-item2" data-id="id-3" data-type="cat-item-1">
                    <span class="image-block">
                        <a class="image-zoom" href="{% static 'assets/images/e3.jpg' %}"
                           data-gal="prettyPhoto[gallery]">
                            <img src="{% static 'assets/images/e3.jpg' %}" class="img-fluid w3layouts "
                                 alt="portfolio-img">
                        </a>
                    </span>
            </li>
            <li class="portfolio-item2" data-id="id-4" data-type="cat-item-3">
                    <span class="image-block">
                        <a class="image-zoom" href="{% static 'assets/images/e4.jpg' %}"
                           data-gal="prettyPhoto[gallery]">
                            <img src="{% static 'assets/images/e4.jpg' %}" class="img-fluid w3layouts "
                                 alt="portfolio-img">
                        </a>
                    </span>
            </li>
            <li class="portfolio-item2" data-id="id-5" data-type="cat-item-2">
                    <span class="image-block">
                        <a class="image-zoom" href="{% static 'assets/images/e5.jpg' %}"
                           data-gal="prettyPhoto[gallery]">
                            <img src="{% static 'assets/images/e5.jpg' %}" class="img-fluid w3layouts "
                                 alt="portfolio-img">
                        </a>
                    </span>
            </li>
            <li class="portfolio-item2" data-id="id-7" data-type="cat-item-3">
                    <span class="image-block">
                        <a class="image-zoom" href="{% static 'assets/images/e6.jpg' %}"
                           data-gal="prettyPhoto[gallery]">
                            <img src="{% static 'assets/images/e6.jpg' %}" class="img-fluid w3layouts "
                                 alt="portfolio-img">
                        </a>
                    </span>
            </li>
            <li class="portfolio-item2" data-id="id-4" data-type="cat-item-3">
                    <span class="image-block">
                        <a class="image-zoom" href="{% static 'assets/images/e7.jpg' %}"
                           data-gal="prettyPhoto[gallery]">
                            <img src="{% static 'assets/images/e7.jpg' %}" class="img-fluid w3layouts "
                                 alt="portfolio-img">
                        </a>
                    </span>
            </li>
            <li class="portfolio-item2" data-id="id-5" data-type="cat-item-3">
                    <span class="image-block">
                        <a class="image-zoom" href="{% static 'assets/images/e8.jpg' %}"
                           data-gal="prettyPhoto[gallery]">
                            <img src="{% static 'assets/images/e8.jpg' %}" class="img-fluid w3layouts "
                                 alt="portfolio-img">
                        </a>
                    </span>
            </li>
            <li class="portfolio-item2" data-id="id-7" data-type="cat-item-3">
                    <span class="image-block">
                        <a class="image-zoom" href="{% static 'assets/images/e9.jpg' %}"
                           data-gal="prettyPhoto[gallery]">
                            <img src="{% static 'assets/images/e9.jpg' %}" class="img-fluid w3layouts "
                                 alt="portfolio-img">
                        </a>
                    </span>
            </li>
            <div class="clear"></div>
        </ul>
        <!--end portfolio-area -->
    </div>
    <!-- //gallery container -->
</section>
<!-- //portfolio -->
<!-- contacts -->
<section class="w3l-contacts-9-main" id="contact">
    <div class="contacts-9 py-5">
        <div class="container py-lg-3">
            <h4 class="sub-title">Find us</h4>
            <h3 class="global-title text-secondary">Contact us</h3>
            <div class="row top-map">
                <div class="cont-details col-md-5">
                    <div class="cont-top">
                        <div class="cont-left">
                            <span class="fa fa-phone text-primary"></span>
                        </div>
                        <div class="cont-right">
                            <h6>Call Us</h6>
                            <p><a href="tel:+44 99 555 42">+44 99 555 42</a></p>

                        </div>
                    </div>
                    <div class="cont-top mt-lg-5 mt-4">
                        <div class="cont-left">
                            <span class="fa fa-envelope-o text-primary"></span>
                        </div>
                        <div class="cont-right">
                            <h6>Email Us</h6>

                            <p><a href="mailto:mailid@mail.com" class="mail">mailid@mail.com</a></p>
                        </div>
                    </div>
                    <div class="cont-top mt-lg-5 mt-4">
                        <div class="cont-left">
                            <span class="fa fa-map-marker text-primary"></span>
                        </div>
                        <div class="cont-right">
                            <h6>Address</h6>
                            <p>Couch hunter, 208 Trainer Avenue street, Illinois, UK - 62617.</p>
                        </div>
                    </div>
                </div>
                <div class="map-content-9 col-md-7 mt-5 mt-md-0">
                    <form action="https://sendmail.w3layouts.com/submitForm" method="post">
                        <div class="twice-two">
                            <input type="text" class="form-control" name="w3lName" id="w3lName" placeholder="Name"
                                   required="">
                            <input type="email" class="form-control" name="w3lSender" id="w3lSender" placeholder="Email"
                                   required="">
                        </div>
                        <div class="twice">

                            <input type="text" class="form-control" name="w3lName" id="w3lName" placeholder="Subject"
                                   required="">
                        </div>
                        <textarea name="w3lMessage" class="form-control" id="w3lMessage" placeholder="Message"
                                  required=""></textarea>
                        <button type="submit" class="btn btn-primary btn-contact">Send Message</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="map">
        <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387193.3059445135!2d-74.25986613799748!3d40.69714941774136!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m3!3e3!4m0!4m0!5e0!3m2!1sen!2sin!4v1570181661801!5m2!1sen!2sin"
                allowfullscreen=""></iframe>
    </div>
</section>
<!-- //contacts -->
{% include 'indexfooter.html' %}
</body>

</html>