<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>thanks</title>
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
    {% include "indexheaderfiles.html" %}
</head>
<body>
{% if request.session.mobile %}
    {% include 'indexnavbaruser.html' %}
{% elif not request.session.mobile %}
    {% include 'indexnavigation.html' %}
{% endif %}

<div class="container">
    <div class="row">
        <div class="col-sm- offset-sm-3">
            <div class="text-center">
                <h2>"<u>Thank you for visiting our Website</u>"</h2>
                <h5 class="text-left mt-5"><u>Mobile</u> : <span
                        class="text-danger">{{ request.session.mobile }}</span></h5>
                <h5 class="text-left mb-5"><u>Your Bill Id</u> : <span class="text-danger">{{ bill_id }}</span></h5>
                <a href="searchfurniture1" class="btn btn-outline-success mb-5"><strong>Continew Shoping</strong></a>
            </div>
        </div>
    </div>
</div>

</body>
</html>