<div class="container-fluid px-lg-5">
    <!-- nav -->
    <style>
        .nav-menu {
            background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .5));
            padding: 30px;
            transition: all .5s;
        }
    </style>
    {% load static %}
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

    <nav class="py-4 d-lg-flex nav-menu">
        <div id="logo">
            <h1><a href="/"><span class="fa fa-gg" aria-hidden="true"></span>Rentomojo</a></h1>
        </div>
        <label for="drop" class="toggle">Menu</label>
        <input type="checkbox" id="drop"/>
        <ul class="menu mt-2 ml-auto">
            <li ><a href="/">Home</a></li>
{#            <li>#}
                <!-- First Tier Drop Down -->
{#                <a href="#">Furniture <span class="fa fa-angle-down" aria-hidden="true"></span></a>#}
{#                <input type="checkbox" id="drop-2"/>#}
{#                <ul class="inner-ul">#}
{#                    <li><a class="scroll" href="#gallery">Gallery</a></li>#}
{#                    <li><a href="#plans" class="scroll">Plans</a></li>#}
{#                    <li><a href="#blog" class="scroll">Events</a></li>#}
{#                </ul>#}
{#            </li>#}
            <li><a href="contact" class="scroll">Contact</a></li>
            </li>

            </li>
            <li><a href="usersignup1" class="">SignUp</a></li>
            </li>
            <li><a href="userlogout" class="">Logout</a></li>
            </li>
            <li><a href="#" class="scroll"><i class="fas fa-shopping-cart"></i></a></li>
{#            <li><a href="userlogout" class="btn btn-danger">Logout</a></li>#}
        </ul>
    </nav>
    <!-- //nav -->
</div>