<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
    {% include "jsfiles.html" %}
    <link rel="stylesheet" href="{% static '/fontawesome-free-5.11.2-web/css/all.css' %}">
</head>
<body>
{% include "NavBarAdmin.html" %}
<table class="table">


    {% for a in ar %}
        <tr>
            <td>{{ a.email }}</td>
            <td>{{ a.type }}</td>
            <td>{{ a.mobile }}</td>
            <td>
                <a href="removeadmin?q={{ a.email }}">
                    <i class="fa fa-trash text-danger fa-2x"></i>
                </a>
            </td>

            <td>
                <a href="editadmin?q={{ a.email }}">
                    <i class="fa fa-edit text-danger fa-2x"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
</table>

</body>
</html>