<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <div id="dismiss">
            <i class="fas fa-arrow-left"></i>
        </div>

        <div class="sidebar-header">
            <h3 class="font-weight-bold">QR Code</h3>
        </div>

        <ul class="list-unstyled components">
            <p class="text-capitalize">{{ request.session.admin.3 }}</p>
            <li>
                <a href="dashBoard" class="mainmenu">DashBoard</a>
            </li>
            <li class="">
                <a href="#news" class="dropdown-toggle mainmenu" data-toggle="collapse" aria-expanded="false">news</a>
                <ul class="collapse list-unstyled " id="news">
                    <li><a href="addNews">Add News</a></li>
                    <li><a href="viewnews">View News</a></li>
                </ul>
            </li>
            <li class="">
                <a href="#Departments" class="dropdown-toggle mainmenu" data-toggle="collapse" aria-expanded="false">Departments</a>
                <ul class="collapse list-unstyled " id="Departments">
                    <li><a href="addDepartments">Add Departments</a></li>
                    <li><a href="viewDepartments">View Departments</a></li>
                </ul>
            </li>
            <li>
{#                <a href="#" class="mainmenu">About</a>#}
                <a href="#pageSubmenu" class="dropdown-toggle mainmenu" data-toggle="collapse" aria-expanded="false">Entity</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li><a href="addentity">Add Entity</a></li>
                    <li><a href="viewEntity">View Entity</a></li>
                </ul>
            </li>
            <li>
{#                <a href="#" class="mainmenu">About</a>#}
                <a href="#pageSubmenu1" class="dropdown-toggle mainmenu" data-toggle="collapse" aria-expanded="false">Vehicle</a>
                <ul class="collapse list-unstyled" id="pageSubmenu1">
                    <li><a href="allVehicle">View Vehicle</a></li>
                </ul>
            </li>
            <li>
{#                <a href="#" class="mainmenu">About</a>#}
                <a href="#pageSubmenu2" class="dropdown-toggle mainmenu" data-toggle="collapse" aria-expanded="false">Entery-Exit</a>
                <ul class="collapse list-unstyled" id="pageSubmenu2">
                    <li><a href="allEnteryEntered">Entity</a></li>
                    <li><a href="allEnteryVehicle">Vehicle</a></li>
                </ul>
            </li>

{#            <li>#}
{#                <a href="#" class="mainmenu">Contact</a>#}
{#            </li>#}
        </ul>
    </nav>

    <!-- Page Content Holder -->
    <div id="content">

        <nav class="navbar navbar-default">
            <div class="container-fluid">

                <div class="navbar-header">
                    <button type="button" id="sidebarCollapse" class="btn mybtn navbar-btn">
                        <i class="fas fa-align-left"></i>
                        <span>Menu</span>
                    </button>
                </div>
                <div class="dropdown dropleft ">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        {{ request.session.admin.3 }}
                    </button>
                    <div class="dropdown-menu">
{#                        <a class="dropdown-item" href="#">Link 1</a>#}
{#                        <a class="dropdown-item" href="#">Link 2</a>#}
                        <a class="dropdown-item" href="logoutamin">Logout <i
                                class="text-danger fas fa-sign-out-alt float-right"></i></a>
                    </div>
                </div>

                {#                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">#}
                {#                    <ul class="nav navbar-nav navbar-right">#}
                {#                        <li><a href="#">Page</a></li>#}
                {#                        <li><a href="#">Page</a></li>#}
                {#                        <li><a href="#">Page</a></li>#}
                {#                        <li><a href="#">Page</a></li>#}
                {#                    </ul>#}
                {#                </div>#}
            </div>
        </nav>


