{% load static %}
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'DataTables/datatables.css' %}">
<link rel="stylesheet" href="{% static 'fontawesome/css/all.css' %}">
<link rel="stylesheet" href="{% static 'fontawesome/css/all.css' %}">
<link rel="stylesheet" href="{% static 'lightbox/dist/css/lightbox.css' %}">
<link rel="stylesheet" href="{% static 'ui/jquery-ui.css' %}">
<link rel="stylesheet" href="{% static 'mycss/style3.css' %}">
<link rel="stylesheet" href="{% static 'css/jquery.mCustomScrollbar.min.css' %}">
<link href="https://fonts.googleapis.com/css?family=Great+Vibes&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'mycss/myfont.css' %}">


<style>
    .error {
        color: red;
    }
</style>