<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>viewEditEntity</title>
    {% load static %}
    {% include 'headerfile.html' %}
</head>
<body>
{% include 'adminnavbarhead.html' %}

<div class="container">
    <div class="text-center">
        <h1 class="comman-title">Edit-Entity</h1>
    </div>
    <div>
{#        {{ data1 }}#}
        <form action="viewEditEntityAction" method="post" id="entity" enctype="multipart/form-data">{% csrf_token %}
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="hidden" id="id" name="id" value="{{ data1.id }}">
                        <input type="text" required name="name" id="name" value="{{ data1.name }}" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="designation">Designation</label>
                        <input type="text" required name="designation" value="{{ data1.fathername }}" id="designation"
                               class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="type">Type</label>
                        <select name="type" id="type" class="form-control">
                            <option value="Student" {% if data1.type == 'Student' %}
                                    selected
                            {% endif %} >Student
                            </option>
                            <option value="Employee" {% if data1.type == 'Employee' %}
                                    selected
                            {% endif %} >Employee
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="departments">Departments</label>
                        <select name="departments" id="departments" class="form-control">
                            {% for foo in data %}
                                <option value="{{ foo.id }}" {% if data1.dip == foo.id %}
                                        selected
                                {% endif %}>{{ foo.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="status">Status</label>
                        <select name="status" id="status" class="form-control">
                            <option value="Grant"{% if data1.status == 'Grant' %}
                                    selected
                            {% endif %}>Grant
                            </option>
                            <option value="Revoke"{% if data1.status == 'Revoke' %}
                                    selected
                            {% endif %}>Revoke
                            </option>
                        </select>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="fathername">Father's Name</label>
                        <input type="text" required name="fathername" value="{{ data1.fathername }}" id="fathername"
                               class="form-control">
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="startTime">Start Time</label>
                                <select name="startTime" id="startTime" class="form-control">
                                    {% for foo in timing %}
                                        <option value="{{ foo }}" {% if data1.startTime == foo %}
                                                selected
                                        {% endif %}>{{ foo }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-6">
                                <label for="endTime">End Time</label>
                                <select name="endTime" id="endTime" class="form-control">
                                    {% for foo in timing %}
                                        <option value="{{ foo }}" {% if data1.endTime == foo %}
                                                selected
                                        {% endif %}>{{ foo }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" style="height: 155px">
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="photo">Photo</label>
                                <input type="file" id="photo" name="photo"  class="form-control">
                            </div>
                            <div class="col-sm-6">
                                <div id="showimage">
                                    <img src="{% static 'media/' %}{{ data1.photo }}" width="200" height="150" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" required id="email" name="email" value="{{ data1.email }}" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" required id="password" name="password" value="{{ data1.password }}" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group text-center">
                <button type="submit" class="w-50 btn btn-outline-primary">Submit</button>
            </div>
        </form>

        {% if result %}
            {% if result == 'Sucess' %}
                <div class="alert alert-success">
                    <strong>Sucess !! New Row Added</strong>
                </div>
            {% else %}
                <div class="alert alert-danger">
                    <strong>Fail To Add New Row</strong>
                </div>
            {% endif %}

        {% endif %}
    </div>
</div>


{% include 'adminnavbarfooter.html' %}
{% include 'footer.html' %}
<script src="{% static 'myjs/adminNavbar.js' %}"></script>
<script>
    function addphotobash(element) {
        var file = element.files[0];
        var reader = new FileReader();
        reader.onloadend = function () {
            document.getElementById('showimage').innerHTML = `<img src="${reader.result}" width="200px" height="150px">`;
            // document.getElementById('bash').value = reader.result;
            img = reader.result;
            // return reader.result;
        };
        reader.readAsDataURL(file);
    }

    $("#photo").change(function () {
        addphotobash(this);
    });
</script>


</body>
</html>