<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html lang="zxx">

<head>
    {% load static %}
    <title>Land Real Estates Category Bootstrap Responsive website Template | Home :: w3layouts</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8"/>
    <meta name="keywords"
          content="Land Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"/>
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    {% include 'indexheaderfiles.html' %}
    <!-- //Meta tag Keywords -->
    {##}
    {#    <!-- Custom-Files -->#}
    {#    <link href="{% static "css/bootstrap.css" %}" rel='stylesheet' type='text/css' />#}
    {#    <!-- Bootstrap-Core-CSS -->#}
    {#    <link href="{% static "css/style.css" %}" rel='stylesheet' type='text/css' />#}
    {#    <!-- Style-CSS -->#}
    {#    <link href="{% static "css/font-awesome.min.css" %}" rel="stylesheet">#}
    {#    <!-- Font-Awesome-Icons-CSS -->#}
    {#    <!-- //Custom-Files -->#}
    {##}
    {#    <!-- Web-Fonts -->#}
    {#    <link#}
    {#        href="{% static "//fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" %}"#}
    {#        rel="stylesheet">#}
    {#    <link#}
    {#        href="{% static "//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" %}"  rel="stylesheet">#}
    <!-- //Web-Fonts -->
</head>

<body>
<!-- header -->
{#{{ request.session.useremail }}#}

{% if request.session.useremail %}
    {% include 'indexnavbaruser.html' %}
{% elif request.session.hostemail %}
    {% include 'navbarhost.html' %}
{% elif not request.session.hostemail %}
    {% include 'indexnavbarpublic.html' %}
{% endif %}
<!-- //header -->

<!-- banner -->
<div class="main-w3pvt mian-content-wthree text-center" id="home">
    <div class="container">
        <div class="style-banner mx-auto">
            <h3 class="text-wh font-weight-bold">Search and Find Your <span>Luxury</span> Homes</h3>
            <p class="mt-2 text-li" id="find">Property for sale & for rent around the world</p>
            <!-- form -->
            <div class="home-form-w3ls mt-5 pt-lg-4">
                <form action="findpropertyresult" method="POST" >{% csrf_token %}
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <select name="city" id="city" class="form-control" required>
                                    <option value="">Select city</option>
                                    {% for foo in city %}
                                        <option>{{ foo.city }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <select required="" class="form-control" name="category" id="category">
                                    <option value="">Select category</option>
                                    {% for foo1 in catname %}
                                        <option>{{ foo1.category }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn_apt">Find Here</button>
                </form>
            </div>
            <!-- //form -->
        </div>
    </div>
</div>
<!-- //banner -->

<!-- banner bottom -->
<section class="w3ls-bnrbtm py-5" id="about">
    <div class="container py-xl-5 py-lg-3">
        <h3 class="title-w3 mb-md-5 mb-4 text-center text-bl font-weight-bold">Welcome To Our <span>Land
                    Site</span></h3>
        <div class="row">
            <div class="col-lg-6 text-center">
                <img src="{% static "images/about.jpg" %}" alt="about" class="img-fluid"/>
            </div>
            <div class="col-lg-6 pr-xl-5 mt-xl-4 mt-lg-0 mt-4">
                <h3 class="title-sub mb-4">The best place to find the <span>house you want.</span></h3>
                <p class="sub-para">Donec consequat sapien ut leo cursus rhoncus. Nullam dui mi, vulputate ac metus
                    at, semper
                    varius orci. Nulla accumsan ac elit in congue. Class aptent taciti sociosqu ad litora torquent
                    per conubia.</p>
                <p class="sub-para pt-4 mt-4 border-top">Donec consequat sapien ut leo cursus rhoncus. Nullam dui
                    mi, vulputate ac metus
                    at, semper varius orci. Nulla accumsan ac elit in congue. Class aptent taciti sociosqu ad
                    litora torquent per.</p>
            </div>
        </div>
    </div>
</section>
<!-- //banner bottom -->

<!-- services -->
<div class="w3pvtits-services py-5" id="services">
    <div class="container py-xl-5 py-lg-3">
        <h3 class="title-w3 mb-2 text-center text-wh font-weight-bold">We Provide The <span>Best Services</span>
        </h3>
        <p class="text-li text-center title-w3 mb-md-5 mb-4">Excepteur sint occaecat cupidatat</p>
        <div class="row w3pvtits-services-row text-center pt-4">
            <div class="col-lg-4">
                <div class="w3pvtits-services-grids">
                    <div class="icon-effect-wthree">
                        <span class="fa fa-home ser-icon"></span>
                    </div>
                    <h4 class="text-bl my-4">Service 1</h4>
                    <p class="text-left">Itaque earum rerum hic tenetur asap iente delectus rulla accumsan.</p>
                    <a class="service-btn btn mt-xl-5 mt-4" href="#">Read More<span
                            class="fa fa-long-arrow-right ml-2"></span></a>
                </div>
            </div>
            <div class="col-lg-4 serv-w3mk my-lg-0 my-5">
                <div class="w3pvtits-services-grids">
                    <div class="icon-effect-wthree">
                        <span class="fa fa-building ser-icon"></span>
                    </div>
                    <h4 class="text-bl my-4">Service 2 </h4>
                    <p class="text-left">Itaque earum rerum hic tenetur asap iente delectus rulla accumsan.</p>
                    <a class="service-btn btn mt-xl-5 mt-4" href="#">Read More<span
                            class="fa fa-long-arrow-right ml-2"></span></a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="w3pvtits-services-grids">
                    <div class="icon-effect-wthree">
                        <span class="fa fa-university ser-icon"></span>
                    </div>
                    <h4 class="text-bl my-4">Service 3</h4>
                    <p class="text-left">Itaque earum rerum hic tenetur asap iente delectus rulla accumsan.</p>
                    <a class="service-btn btn mt-xl-5 mt-4" href="#">Read More<span
                            class="fa fa-long-arrow-right ml-2"></span></a>
                </div>
            </div>
        </div>
    </div>
    <img src="{% static "images/img.png" %}" alt="services" class="img-fluid img-posi-w3pvt"/>
</div>
<!-- //services -->

<!-- places -->
<section class="branches py-5" id="places">
    <div class="container py-xl-5 py-lg-3">
        <h3 class="title-w3 mb-2 text-center text-bl font-weight-bold">Most Popular <span>Places</span></h3>
        <p class="text-center title-w3 mb-md-5 mb-4">Excepteur sint occaecat cupidatat</p>
        <div class="row branches-position pt-4">
            <div class="col-lg-3 col-sm-6 place-w3">
                <!-- branch-img -->
                <div class="team-img team-img-1">
                    <div class="team-content">
                        <h4 class="text-wh">Place 1</h4>
                        <p class="team-meta">Canada</p>
                    </div>
                </div>
            </div>
            <!-- / branch-img -->
            <div class="col-lg-3 col-sm-6 place-w3 mt-sm-0 mt-4">
                <!-- team-img -->
                <div class="team-img team-img-2">
                    <div class="team-content">
                        <h4 class="text-wh">Place 2</h4>
                        <p class="team-meta">New York City</p>
                    </div>
                </div>
            </div>
            <!-- /.branch-img -->
            <div class="col-lg-3 col-sm-6 place-w3 mt-lg-0 mt-4">
                <!-- team-img -->
                <div class="team-img team-img-3">
                    <div class="team-content">
                        <h4 class="text-wh">Place 3</h4>
                        <p class="team-meta">United States</p>
                    </div>
                </div>
            </div>
            <!-- /.branch-img -->
            <div class="col-lg-3 col-sm-6 place-w3 mt-lg-0 mt-4">
                <!-- team-img -->
                <div class="team-img team-img-4">
                    <div class="team-content">
                        <h4 class="text-wh">Place 4</h4>
                        <p class="team-meta">Paris</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //places -->

<!-- stats section -->

<!-- //stats section -->

<!-- blog -->
<!-- //blog -->

<!-- gallery -->
<div class="gallery pb-5" id="gallery">
    <div class="container py-xl-5 py-lg-3">
        <h3 class="title-w3 mb-2 text-center text-bl font-weight-bold">Our <span>Gallery</span></h3>
        <p class="text-center title-w3 mb-md-5 mb-4">Excepteur sint occaecat cupidatat</p>
        <div class="row news-grids text-center no-gutters">
            <div class="col-md-4 gal-img">
                <a href="#gal1"><img src="{% static "images/g1.jpg" %}" alt="Gallery Image" class="img-fluid"></a>
            </div>
            <div class="col-md-4 gal-img">
                <a href="#gal2"><img src="{% static "images/g2.jpg" %}" alt="Gallery Image" class="img-fluid"></a>
            </div>
            <div class="col-md-4 gal-img">
                <a href="#gal3"><img src="{% static "images/g3.jpg" %}" alt="Gallery Image" class="img-fluid"></a>
            </div>
        </div>
        <div class="row news-grids text-center no-gutters">
            <div class="col-md-4 gal-img">
                <a href="#gal4"><img src="{% static "images/g4.jpg" %}" alt="Gallery Image" class="img-fluid"></a>
            </div>
            <div class="col-md-4 gal-img">
                <a href="#gal5"><img src="{% static "images/g5.jpg" %}" alt="Gallery Image" class="img-fluid"></a>
            </div>
            <div class="col-md-4 gal-img">
                <a href="#gal6"><img src="{% static "images/g6.jpg" %}" alt="Gallery Image" class="img-fluid"></a>
            </div>
        </div>
        <!-- gallery popups -->
        <!-- popup-->
{#        <div id="gal1" class="pop-overlay animate">#}
{#            <div class="popup">#}
{#                <img src="{% static "images/g1.jpg" %}" alt="Popup Image" class="img-fluid"/>#}
{#                <p class="mt-4">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat#}
{#                    dolor.</p>#}
{#                <a class="close" href="#gallery">&times;</a>#}
{#            </div>#}
{#        </div>#}
        <!-- //popup -->
        <!-- popup-->
{#        <div id="gal2" class="pop-overlay animate">#}
{#            <div class="popup">#}
{#                <img src="{% static "images/g2.jpg" %}" alt="Popup Image" class="img-fluid"/>#}
{#                <p class="mt-4">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat#}
{#                    dolor.</p>#}
{#                <a class="close" href="#gallery">&times;</a>#}
{#            </div>#}
{#        </div>#}
        <!-- //popup -->
        <!-- popup-->
{#        <div id="gal3" class="pop-overlay animate">#}
{#            <div class="popup">#}
{#                <img src="{% static "images/g3.jpg" %}" alt="Popup Image" class="img-fluid"/>#}
{#                <p class="mt-4">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat#}
{#                    dolor.</p>#}
{#                <a class="close" href="#gallery">&times;</a>#}
{#            </div>#}
{#        </div>#}
        <!-- //popup3 -->
        <!-- popup-->
{#        <div id="gal4" class="pop-overlay animate">#}
{#            <div class="popup">#}
{#                <img src="{% static "images/g4.jpg" %}" alt="Popup Image" class="img-fluid"/>#}
{#                <p class="mt-4">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat#}
{#                    dolor.</p>#}
{#                <a class="close" href="#gallery">&times;</a>#}
{#            </div>#}
{#        </div>#}
        <!-- //popup -->
        <!-- popup-->
{#        <div id="gal5" class="pop-overlay animate">#}
{#            <div class="popup">#}
{#                <img src="{% static "images/g5.jpg" %}" alt="Popup Image" class="img-fluid"/>#}
{#                <p class="mt-4">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat#}
{#                    dolor.</p>#}
{#                <a class="close" href="#gallery">&times;</a>#}
{#            </div>#}
{#        </div>#}
        <!-- //popup -->
        <!-- popup-->
{#        <div id="gal6" class="pop-overlay animate">#}
{#            <div class="popup">#}
{#                <img src="{% static "images/g6.jpg" %}" alt="Popup Image" class="img-fluid"/>#}
{#                <p class="mt-4">Nulla viverra pharetra se, eget pulvinar neque pharetra ac int. placerat placerat#}
{#                    dolor.</p>#}
{#                <a class="close" href="#gallery">&times;</a>#}
{#            </div>#}
{#        </div>#}
        <!-- //popup -->
        <!-- //gallery popups -->
    </div>
</div>
<!-- //gallery -->

<!-- testimonials -->
<section class="clients py-5 text-center" id="testi">
    <div class="container py-xl-5 py-lg-3">
        <h3 class="title-w3 mb-2 text-center text-wh font-weight-bold">What Our <span>Customers</span> Says</h3>
        <p class="text-center text-li title-w3 mb-sm-5 mb-4">Excepteur sint occaecat cupidatat</p>
        <div class="feedback-info">
            <div class="feedback-top">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod.
                    sed do eiusmod tempor
                    incididunt
                    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi</p>
                <img src="{% static "images/te1.jpg" %}" alt=" " class="img-fluid rounded-circle mt-5">
                <h4 class="mt-4 text-wh font-weight-bold mb-4">Mary Jane</h4>
            </div>
        </div>
    </div>
</section>
<!-- //testimonials -->

<!-- apps -->
{#<div class="apps_w3w3pvt bg-light py-5" id="apps">#}
{#    <div class="container py-xl-5 py-lg-3">#}
{#        <h3 class="title-w3 mb-2 text-center text-bl font-weight-bold">Download The <span>Application</span></h3>#}
{#        <p class="text-center title-w3 mb-md-5 mb-4">Excepteur sint occaecat cupidatat</p>#}
{#        <ul class="list-unstyled apps-lists text-center pt-4">#}
{#            <li>#}
{#                <a href="#"><span class="fa fa-apple mr-3"></span>App Store</a>#}
{#            </li>#}
{#            <li>#}
{#                <a href="#" class="active"><span class="fa fa-windows mr-3"></span>Windows Store</a>#}
{#            </li>#}
{#            <li>#}
{#                <a href="#"><span class="fa fa-android mr-3"></span>Android</a>#}
{#            </li>#}
{#        </ul>#}
{#    </div>#}
{#    <img src="{% static "images/img2.png" %}" alt="" class="img-fluid img-podi-w3ls">#}
{#</div>#}
<!-- //apps -->

<!-- contact-->
<!-- //Contact -->
{% include 'indexfooter.html' %}
<!-- footer -->
<a href="#home" class="move-top text-center">
    <span class="fa fa-angle-double-up" aria-hidden="true"></span>
</a>
<!-- //move top icon -->

</body>

</html>